hois_ws/src/main/resources/wsdl/sais/sais3.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://www.w3.org/2001/XMLSchema" xmlns:s2="http://microsoft.com/wsdl/types/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://sais2.x-road.eu/" xmlns:xrd="http://x-road.eu/xsd/xroad.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://sais2.x-road.eu/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <schema targetNamespace="http://sais2.x-road.eu/" xmlns="http://www.w3.org/2001/XMLSchema">
      <import namespace="http://x-road.eu/xsd/xroad.xsd" schemaLocation="http://x-road.eu/xsd/xroad.xsd"/>
      <import namespace="http://ws-i.org/profiles/basic/1.1/xsd" schemaLocation="http://ws-i.org/profiles/basic/1.1/swaref.xsd"/>
      <import schemaLocation="http://www.w3.org/2005/05/xmlmime" namespace="http://www.w3.org/2005/05/xmlmime"/>
      <element name="listMethods">
        <complexType>
          <sequence>
            <element name="request" type="tns:listMethodsRequest"/>
          </sequence>
        </complexType>
      </element>
      <complexType name="listMethodsRequest">
        <sequence/>
      </complexType>
      <element name="listMethodsResponse">
        <complexType>
          <sequence>
            <element name="response" type="string" minOccurs="0" nillable="true"/>
          </sequence>
        </complexType>
      </element>

      <element name="testSystem">
        <complexType>
          <sequence>
            <element name="request" type="tns:testMethodsRequest"/>
          </sequence>
        </complexType>
      </element>
      <complexType name="testMethodsRequest">
        <sequence/>
      </complexType>
      <element name="testSystemResponse">
        <complexType>
          <sequence>
            <element name="response" type="string" minOccurs="0" nillable="true"/>
          </sequence>
        </complexType>
      </element>

      <element name="ApplicationsExport">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="request" nillable="true" type="tns:AppExportRequest"/>
          </sequence>
        </complexType>
      </element>
      <complexType name="AppExportRequest">
        <sequence>
          <element minOccurs="1" maxOccurs="1" name="AdmissionId" nillable="true" type="s2:guid"/>
          <element minOccurs="1" maxOccurs="1" name="StatusChangeDateFrom" nillable="true" type="dateTime"/>
          <element minOccurs="1" maxOccurs="1" name="StatusChangeDateTo" nillable="true" type="dateTime"/>
          <element minOccurs="0" maxOccurs="1" name="IdCode" type="string"/>
          <element minOccurs="0" maxOccurs="1" name="StudyLevel" type="string"/>
          <element minOccurs="0" maxOccurs="1" name="ApplicationStatusValues" type="tns:ArrayOfString"/>
          <element minOccurs="0" maxOccurs="1" name="Page" type="int" nillable="true">
            <annotation>
              <documentation>Page number (Starts from 0)</documentation>
            </annotation>
          </element>
        </sequence>
      </complexType>
      <complexType name="ArrayOfString">
        <sequence>
          <element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="string"/>
        </sequence>
      </complexType>
      <element name="ApplicationsExportResponse">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="request" nillable="true" type="tns:AppExportRequest"/>
            <element minOccurs="0" maxOccurs="1" name="response" type="tns:AppExportResponse"/>
          </sequence>
        </complexType>
      </element>
      <complexType name="AppExportResponse">
        <sequence>
          <element minOccurs="0" maxOccurs="1" name="Applications" type="tns:ArrayOfApplication"/>
          <element minOccurs="0" maxOccurs="1" name="TotalCount" type="int">
            <annotation>
              <documentation>Total number of Applications</documentation>
            </annotation>
          </element>
        </sequence>
      </complexType>
      <complexType name="ArrayOfApplication">
        <sequence>
          <element minOccurs="0" maxOccurs="unbounded" name="Application" nillable="true" type="tns:Application"/>
        </sequence>
      </complexType>
      <complexType name="Application">
        <sequence>
          <element minOccurs="1" maxOccurs="1" name="Id" type="s2:guid">
            <annotation>
              <documentation>
                Avalduse ID.
              </documentation>
            </annotation>
          </element>
          <element minOccurs="1" maxOccurs="1" name="AdmissionId" type="s2:guid">
            <annotation>
              <documentation>
                Konkurssi ID.
              </documentation>
            </annotation>
          </element>
          <element minOccurs="0" maxOccurs="1" name="AdmissionCode" type="string">
            <annotation>
              <documentation>
                Konkurssi kood.
              </documentation>
            </annotation>
          </element>
          <element minOccurs="1" maxOccurs="1" name="ShowNameInRanking" nillable="true" type="boolean">
            <annotation>
              <documentation>
                Kandidaadi nimi avalikustatud vastuvõetute nimekirjas, siis väärtus "Jah", vastasel juhul "Ei".
              </documentation>
            </annotation>
          </element>
          <element minOccurs="0" maxOccurs="1" name="FirstName" type="string">
            <annotation>
              <documentation>
                Kandidaadi eesnimi.
              </documentation>
            </annotation>
          </element>
          <element minOccurs="0" maxOccurs="1" name="LastName" type="string">
            <annotation>
              <documentation>
                Kandidaadi perekonnanimi.
              </documentation>
            </annotation>
          </element>
          <element minOccurs="0" maxOccurs="1" name="SexClassification" type="tns:SAISClassification">
            <annotation>
              <documentation>
                Soo klassifikaaotr.
              </documentation>
            </annotation>
          </element>
          <element minOccurs="0" maxOccurs="1" name="IdCode" type="string">
            <annotation>
              <documentation>
                Eesti isikukood.
              </documentation>
            </annotation>
          </element>
          <element minOccurs="0" maxOccurs="1" name="OtherIdNumber" type="string">
            <annotation>
              <documentation>
                Väliskandidaadi isikukood.
              </documentation>
            </annotation>
          </element>
          <element minOccurs="0" maxOccurs="1" name="ImportApplicationId" type="string">
            <annotation>
              <documentation>
                Avalduse teise süsteemi ID, väli täidetud, kui andmed tulevad teisest süsteemist, vastasel juhul väli tühi.
              </documentation>
            </annotation>
          </element>
          <element minOccurs="1" maxOccurs="1" name="ImportAppInstitutionRegNr" nillable="true" type="int">
            <annotation>
              <documentation>
                Asutuse registrikood, kui registrist avaldus pärineb.
              </documentation>
            </annotation>
          </element>
          <element minOccurs="1" maxOccurs="1" name="IsImported" type="boolean">
            <annotation>
              <documentation>
                Välja märgistus näitab, et avaldus on imporditud.
              </documentation>
            </annotation>
          </element>
          <element minOccurs="0" maxOccurs="1" name="CitizenshipCountry" type="tns:SAISClassification">
            <annotation>
              <documentation>
                Kodakondsuse maa klassifikaator.
              </documentation>
            </annotation>
          </element>
          <element minOccurs="0" maxOccurs="1" name="SecondaryCitizenshipCountry" type="tns:SAISClassification">
            <annotation>
              <documentation>
                Topeltkodakondsuse maa klassifikaator.
              </documentation>
            </annotation>
          </element>
          <element minOccurs="0" maxOccurs="1" name="ResidencePermitType" type="tns:SAISClassification">
            <annotation>
              <documentation>
                Elamisloa klassifikaator.
              </documentation>
            </annotation>
          </element>
          <element minOccurs="0" maxOccurs="1" name="ResidencePermitNumber" type="string">
            <annotation>
              <documentation>
                Elamisloa number.
              </documentation>
            </annotation>
          </element>
          <element minOccurs="0" maxOccurs="1" name="ResidencyPermitExpireDate" nillable="true" type="dateTime">
            <annotation>
              <documentation>
                Elamisloa kehtivus.
              </documentation>
            </annotation>
          </element>
          <element minOccurs="1" maxOccurs="1" name="ApplicationTotalPoints" nillable="true" type="decimal">
            <annotation>
              <documentation>
                Avalduse punktid pingereas.
              </documentation>
            </annotation>
          </element>
          <element minOccurs="1" maxOccurs="1" name="ApplicationCriteriaPoints" nillable="true" type="decimal">
            <annotation>
              <documentation>
                Avalduse kriteeriumi punktide summa.
              </documentation>
            </annotation>
          </element>
          <element minOccurs="1" maxOccurs="1" name="ApplicationExtraPoints" nillable="true" type="decimal">
            <annotation>
              <documentation>
                Pingereas määratud lisapunktid.
              </documentation>
            </annotation>
          </element>
          <element minOccurs="1" maxOccurs="1" name="IsTuitionFeeRequired" type="boolean">
            <annotation>
              <documentation>
                Kui avaldus esitatakse tasulisse õppesse, siis väärtus "Jah", tasuta õppe korral "Ei."
              </documentation>
            </annotation>
          </element>
          <element minOccurs="1" maxOccurs="1" name="Birthday" nillable="true" type="dateTime">
            <annotation>
              <documentation>
                Kandidaadi sünniaeg.
              </documentation>
            </annotation>
          </element>
          <element minOccurs="0" maxOccurs="1" name="BirthPlace" type="string">
            <annotation>
              <documentation>
                Kandidaadi sünnikoht.
              </documentation>
            </annotation>
          </element>
          <element minOccurs="0" maxOccurs="1" name="Email" type="string">
            <annotation>
              <documentation>
                Kandidaadi e-mail.
              </documentation>
            </annotation>
          </element>
          <element minOccurs="0" maxOccurs="1" name="Phone" type="string">
            <annotation>
              <documentation>
                Kandidaadi kontakttelefon.
              </documentation>
            </annotation>
          </element>
          <element minOccurs="1" maxOccurs="1" name="DateModified" type="dateTime">
            <annotation>
              <documentation>
                Muutmise kuupäev.
              </documentation>
            </annotation>
          </element>
          <element minOccurs="0" maxOccurs="1" name="ApplicationStatus" type="tns:SAISClassification">
            <annotation>
              <documentation>
                Avalduse staatuse klassifikaator.
              </documentation>
            </annotation>
          </element>
          <element minOccurs="1" maxOccurs="1" name="IsFullLoad" nillable="true" type="boolean">
            <annotation>
              <documentation>
                Väärtus "jah", kui tegemist täiskoormusega õppijaga, muidu väärtus "ei".
              </documentation>
            </annotation>
          </element>
          <element minOccurs="0" maxOccurs="1" name="StudyForm" type="tns:SAISClassification">
            <annotation>
              <documentation>
                Avalduse õppevormi klassifikaator.
              </documentation>
            </annotation>
          </element>
          <element minOccurs="0" maxOccurs="1" name="ApplicationNumber" type="string">
            <annotation>
              <documentation>
                Avalduse number.
              </documentation>
            </annotation>
          </element>
          <element minOccurs="0" maxOccurs="1" name="CandidateEducations" type="tns:ArrayOfCandidateEducation">
            <annotation>
              <documentation>
                Kandidaadi hariduskäigu aluseks valitud hariduskäigu andmed.
              </documentation>
            </annotation>
          </element>
          <element minOccurs="0" maxOccurs="1" name="CandidateStateExams" type="tns:ArrayOfCandidateStateExam">
            <annotation>
              <documentation>
                Kandidaadi riigieksamite tulemused, välastatakse ainult avaldusele tellitud riigieksamid.
              </documentation>
            </annotation>
          </element>
          <element minOccurs="0" maxOccurs="1" name="ApplicationFormData" type="tns:ArrayOfApplicationFormData">
            <annotation>
              <documentation>
                Konkursil seadistatud ja avaldusel valitud lisaväljade andmed.
              </documentation>
            </annotation>
          </element>
          <element minOccurs="0" maxOccurs="1" name="CandidateIntLangTests" type="tns:ArrayOfCandidateIntTest">
            <annotation>
              <documentation>
                Kandidaadi rahvusvaheliste testide info.
              </documentation>
            </annotation>
          </element>
          <element minOccurs="0" maxOccurs="1" name="CandidateAddresses" type="tns:ArrayOfCandidateAddress">
            <annotation>
              <documentation>
                Kandidaadi aadressid
              </documentation>
            </annotation>
          </element>
        </sequence>
      </complexType>
      <complexType name="SAISClassification">
        <sequence>
          <element minOccurs="0" maxOccurs="1" name="Name" type="string"/>
          <element minOccurs="0" maxOccurs="1" name="Translations" type="tns:ArrayOfKvp"/>
          <element minOccurs="0" maxOccurs="1" name="Description" type="string"/>
          <element minOccurs="1" maxOccurs="1" name="Id" type="s2:guid"/>
          <element minOccurs="0" maxOccurs="1" name="Value" type="string"/>
          <element minOccurs="0" maxOccurs="1" name="Value2" type="string"/>
          <element minOccurs="1" maxOccurs="1" name="ClassificationTypeId" type="s2:guid"/>
          <element minOccurs="0" maxOccurs="1" name="ClassificationTypeName" type="string"/>
        </sequence>
      </complexType>
      <complexType name="ArrayOfKvp">
        <sequence>
          <element minOccurs="0" maxOccurs="unbounded" name="Kvp" nillable="true" type="tns:Kvp"/>
        </sequence>
      </complexType>
      <complexType name="Kvp">
        <sequence>
          <element minOccurs="0" maxOccurs="1" name="Key" type="string"/>
          <element minOccurs="0" maxOccurs="1" name="Value" type="string"/>
        </sequence>
      </complexType>
      <complexType name="ArrayOfCandidateEducation">
        <sequence>
          <element minOccurs="0" maxOccurs="unbounded" name="CandidateEducation" nillable="true" type="tns:CandidateEducation"/>
        </sequence>
      </complexType>
      <complexType name="CandidateEducation">
        <sequence>
          <element minOccurs="1" maxOccurs="1" name="InstitutionRegNr" nillable="true" type="int"/>
          <element minOccurs="0" maxOccurs="1" name="InstitutionCountry" type="tns:SAISClassification"/>
          <element minOccurs="1" maxOccurs="1" name="DateModified" type="dateTime"/>
          <element minOccurs="0" maxOccurs="1" name="EhisLevel" type="tns:SAISClassification"/>
          <element minOccurs="0" maxOccurs="1" name="InstitutionName" type="string"/>
          <element minOccurs="0" maxOccurs="1" name="StudyFieldCode" type="string"/>
          <element minOccurs="0" maxOccurs="1" name="StudyFieldName" type="string"/>
          <element minOccurs="0" maxOccurs="1" name="StudyField" type="string"/>
          <element minOccurs="0" maxOccurs="1" name="StudyFieldGroup" type="string"/>
          <element minOccurs="0" maxOccurs="1" name="CertificateNumber" type="string"/>
          <element minOccurs="1" maxOccurs="1" name="StudyBeginDate" nillable="true" type="dateTime"/>
          <element minOccurs="1" maxOccurs="1" name="ProjectedStudyEndDate" nillable="true" type="dateTime"/>
          <element minOccurs="1" maxOccurs="1" name="StudyEndDate" nillable="true" type="dateTime"/>
          <element minOccurs="1" maxOccurs="1" name="StudyCancelDate" nillable="true" type="dateTime"/>
          <element minOccurs="0" maxOccurs="1" name="StudyNominalTime" type="string"/>
          <element minOccurs="0" maxOccurs="1" name="StudyStatus" type="tns:SAISClassification"/>
          <element minOccurs="0" maxOccurs="1" name="StudyForm" type="string"/>
          <element minOccurs="0" maxOccurs="1" name="StudyFormClassification" type="tns:SAISClassification"/>
          <element minOccurs="0" maxOccurs="1" name="Commendation" type="string"/>
          <element minOccurs="0" maxOccurs="1" name="CommendationClassification" type="tns:SAISClassification"/>
          <element minOccurs="0" maxOccurs="1" name="FinancingMode" type="tns:SAISClassification"/>
          <element minOccurs="0" maxOccurs="1" name="StudyLanguage" type="tns:SAISClassification"/>
          <element minOccurs="0" maxOccurs="1" name="InstitutionCode" type="string"/>
          <element minOccurs="1" maxOccurs="1" name="GraduatedAbroad" type="boolean"/>
          <element minOccurs="1" maxOccurs="1" name="CertificateDate" nillable="true" type="dateTime"/>
          <element minOccurs="1" maxOccurs="1" name="DateSynced" nillable="true" type="dateTime"/>
          <element minOccurs="0" maxOccurs="1" name="CandidateGrades" type="tns:ArrayOfCandidateGrade"/>
          <element minOccurs="0" maxOccurs="1" name="CurriculumName" type="tns:ArrayOfKvp"/>
          <element minOccurs="0" maxOccurs="1" name="CurriculumCode" type="string"/>
        </sequence>
      </complexType>
      <complexType name="ArrayOfCandidateGrade">
        <sequence>
          <element minOccurs="0" maxOccurs="unbounded" name="CandidateGrade" nillable="true" type="tns:CandidateGrade"/>
        </sequence>
      </complexType>
      <complexType name="CandidateGrade">
        <sequence>
          <element minOccurs="0" maxOccurs="1" name="CurriculumClassification" type="tns:SAISClassification">
            <annotation>
              <documentation>
                Õppekava klassifikaator.
              </documentation>
            </annotation>
          </element>
          <element minOccurs="1" maxOccurs="1" name="DateModified" type="dateTime">
            <annotation>
              <documentation>
                Muutmise kuupäev.
              </documentation>
            </annotation>
          </element>
          <element minOccurs="0" maxOccurs="1" name="CurriculumCode" type="string">
            <annotation>
              <documentation>
                Õppekava kood.
              </documentation>
            </annotation>
          </element>
          <element minOccurs="1" maxOccurs="1" name="Grade" nillable="true" type="int">
            <annotation>
              <documentation>
                Hinne.
              </documentation>
            </annotation>
          </element>
          <element minOccurs="0" maxOccurs="1" name="SpecificationCode" type="string">
            <annotation>
              <documentation>
                Lõpuhinne täpsustuse kood.
              </documentation>
            </annotation>
          </element>
          <element minOccurs="0" maxOccurs="1" name="Specification" type="string">
            <annotation>
              <documentation>
                Lõpuhinnete täpsustus.
              </documentation>
            </annotation>
          </element>
          <element minOccurs="1" maxOccurs="1" name="IsRequired" type="boolean">
            <annotation>
              <documentation>
                Välja väärtus "jah" kui aine on kohustuslik, "ei" kui tegemist vabaainega. Ehisest tuleb tähis "K".
              </documentation>
            </annotation>
          </element>
          <element minOccurs="0" maxOccurs="1" name="RawGrade" type="string">
            <annotation>
              <documentation>
                Hinne koos sõnalise selgitusega.
              </documentation>
            </annotation>
          </element>
          <element minOccurs="1" maxOccurs="1" name="ReplacedResult" nillable="true" type="int">
            <annotation>
              <documentation>
                Hinde asendustulemus.
              </documentation>
            </annotation>
          </element>
          <element minOccurs="1" maxOccurs="1" name="IsImported" nillable="true" type="boolean">
            <annotation>
              <documentation>
                Kui andmed pärinevad registrist, siis tunnus "Jah", vastasel juhul "Ei".
              </documentation>
            </annotation>
          </element>
        </sequence>
      </complexType>
      <complexType name="ArrayOfCandidateStateExam">
        <sequence>
          <element minOccurs="0" maxOccurs="unbounded" name="CandidateStateExam" nillable="true" type="tns:CandidateStateExam"/>
        </sequence>
      </complexType>
      <complexType name="CandidateStateExam">
        <sequence>
          <element minOccurs="0" maxOccurs="1" name="StateExamClassification" type="tns:SAISClassification">
            <annotation>
              <documentation>
                Eksami tüübi klassifikaator.
              </documentation>
            </annotation>
          </element>
          <element minOccurs="1" maxOccurs="1" name="DateModified" type="dateTime">
            <annotation>
              <documentation>
                Muutmise kuupäev.
              </documentation>
            </annotation>
          </element>
          <element minOccurs="1" maxOccurs="1" name="Result" type="int">
            <annotation>
              <documentation>
               Riigieksami tulemus.
              </documentation>
            </annotation>
          </element>
          <element minOccurs="1" maxOccurs="1" name="JointPosition" nillable="true" type="int"/>
          <element minOccurs="1" maxOccurs="1" name="ReplacedResult" nillable="true" type="int">
            <annotation>
              <documentation>
                Riigieksami asendustulemus.
              </documentation>
            </annotation>
          </element>
          <element minOccurs="0" maxOccurs="1" name="LanguageSkillLevel" type="string">
            <annotation>
              <documentation>
                Riigieksami keeletase.
              </documentation>
            </annotation>
          </element>
          <element minOccurs="1" maxOccurs="1" name="JointPartResult" nillable="true" type="int">
            <annotation>
              <documentation>
                Riigieksami ühisosa tulemus.
              </documentation>
            </annotation>
          </element>
          <element minOccurs="1" maxOccurs="1" name="JointPartPosition" nillable="true" type="int">
            <annotation>
              <documentation>
                Riigieksami ühisosa positsioon.
              </documentation>
            </annotation>
          </element>
          <element minOccurs="0" maxOccurs="1" name="CertificateNumber" type="string">
            <annotation>
              <documentation>
                Diplomi number, millal riigieksam sooritatud.
              </documentation>
            </annotation>
          </element>
          <element minOccurs="1" maxOccurs="1" name="CertificateDate" nillable="true" type="dateTime">
            <annotation>
              <documentation>
                Riigieksami diplomi väljastamise kuupäev.
              </documentation>
            </annotation>
          </element>
          <element minOccurs="0" maxOccurs="1" name="StateExamCode" type="string">
            <annotation>
              <documentation>
                Riigieksami kood.
              </documentation>
            </annotation>
          </element>
          <element minOccurs="1" maxOccurs="1" name="IsImported" nillable="true" type="boolean">
            <annotation>
              <documentation>
                Märgistus, kas riigieksami tulemused päringevad registrist või mitte. Jah/ei.
              </documentation>
            </annotation>
          </element>
          <element minOccurs="0" maxOccurs="1" name="Course" type="string">
            <annotation>
              <documentation>
                Kursuse nimetus.
              </documentation>
            </annotation>
          </element>
          <element minOccurs="0" maxOccurs="1" name="Language" type="string">
            <annotation>
              <documentation>
                Kursuse sooritamise keel.
              </documentation>
            </annotation>
          </element>
          <element minOccurs="0" maxOccurs="1" name="LanguageCode" type="string">
            <annotation>
              <documentation>
                Sooritamise keele kood.
              </documentation>
            </annotation>
          </element>
        </sequence>
      </complexType>
      <complexType name="ArrayOfApplicationFormData">
        <sequence>
          <element minOccurs="0" maxOccurs="unbounded" name="ApplicationFormData" nillable="true" type="tns:ApplicationFormData"/>
        </sequence>
      </complexType>
      <complexType name="ApplicationFormData">
        <sequence>
          <element minOccurs="1" maxOccurs="1" name="DateModified" type="dateTime">
            <annotation>
              <documentation>
                Kirjelduse muutmise kuupäev.
              </documentation>
            </annotation>
          </element>
          <element minOccurs="0" maxOccurs="1" name="FieldName" type="tns:ArrayOfKvp">
            <annotation>
              <documentation>
                Avaldusele lisatud lisavälja nimetus.
              </documentation>
            </annotation>
          </element>
          <element minOccurs="0" maxOccurs="1" name="FieldCode" type="string">
            <annotation>
              <documentation>
                Avaldusele lisatud lisavälja kood.
              </documentation>
            </annotation>
          </element>
          <element minOccurs="0" maxOccurs="1" name="Value" type="string">
            <annotation>
              <documentation>
               Avaldusele lisatud lisavälja tekst.
              </documentation>
            </annotation>
          </element>
          <element minOccurs="0" maxOccurs="1" name="SelectedOptions" type="tns:ArrayOfFormFieldOption">
            <annotation>
              <documentation>
                Avaldusel valitud lisavälja väärtused.
              </documentation>
            </annotation>
          </element>
          <element minOccurs="1" maxOccurs="1" name="FieldType" type="int">
            <annotation>
              <documentation>
                Avaldusele lisatud lisavälja tüüp.
              </documentation>
            </annotation>
          </element>
        </sequence>
      </complexType>
      <complexType name="ArrayOfFormFieldOption">
        <sequence>
          <element minOccurs="0" maxOccurs="unbounded" name="FormFieldOption" type="tns:FormFieldOption"/>
        </sequence>
      </complexType>
      <complexType name="FormFieldOption">
        <sequence>
          <element minOccurs="0" maxOccurs="1" name="Name" type="tns:ArrayOfKvp"/>
          <element minOccurs="0" maxOccurs="1" name="Code" type="string"/>
        </sequence>
      </complexType>
      <complexType name="ArrayOfCandidateIntTest">
        <sequence>
          <element minOccurs="0" maxOccurs="unbounded" name="CandidateIntTest" nillable="true" type="tns:CandidateIntTest"/>
        </sequence>
      </complexType>
      <complexType name="CandidateIntTest">
        <sequence>
          <element minOccurs="0" maxOccurs="1" name="Name" type="string"/>
          <element minOccurs="0" maxOccurs="1" name="Code" type="string"/>
          <element minOccurs="0" maxOccurs="1" name="CertificateName" type="string"/>
          <element minOccurs="0" maxOccurs="1" name="LanguageLevel" type="string"/>
          <element minOccurs="1" maxOccurs="1" name="Date" nillable="true" type="dateTime"/>
          <element minOccurs="1" maxOccurs="1" name="Result" nillable="true" type="decimal"/>
          <element minOccurs="0" maxOccurs="1" name="ResultType" type="string"/>
          <element minOccurs="1" maxOccurs="1" name="MaxResult" nillable="true" type="decimal"/>
          <element minOccurs="0" maxOccurs="1" name="LevelCode" type="string"/>
          <element minOccurs="1" maxOccurs="1" name="LevelMin" nillable="true" type="decimal"/>
          <element minOccurs="1" maxOccurs="1" name="LevelMax" nillable="true" type="decimal"/>
          <element minOccurs="0" maxOccurs="1" name="InternationalTestName" type="tns:SAISClassification"/>
          <element minOccurs="0" maxOccurs="1" name="CandidateIntTestResults" type="tns:ArrayOfCandidateIntTestResult"/>
        </sequence>
      </complexType>
      <complexType name="ArrayOfCandidateIntTestResult">
        <sequence>
          <element minOccurs="0" maxOccurs="unbounded" name="CandidateIntTestResult" nillable="true" type="tns:CandidateIntTestResult"/>
        </sequence>
      </complexType>
      <complexType name="CandidateIntTestResult">
        <sequence>
          <element minOccurs="0" maxOccurs="1" name="Name" type="string"/>
          <element minOccurs="1" maxOccurs="1" name="Result" nillable="true" type="decimal"/>
          <element minOccurs="1" maxOccurs="1" name="MaxResult" nillable="true" type="decimal"/>
          <element minOccurs="0" maxOccurs="1" name="LevelCode" type="string"/>
          <element minOccurs="1" maxOccurs="1" name="LevelMin" nillable="true" type="decimal"/>
          <element minOccurs="1" maxOccurs="1" name="LevelMax" nillable="true" type="decimal"/>
        </sequence>
      </complexType>
      <complexType name="ArrayOfCandidateAddress">
        <sequence>
          <element minOccurs="0" maxOccurs="unbounded" name="CandidateAddress" nillable="true" type="tns:CandidateAddress"/>
        </sequence>
      </complexType>
      <complexType name="CandidateAddress">
        <sequence>
          <element minOccurs="1" maxOccurs="1" name="AddressType" type="tns:SAISClassification">
            <annotation>
              <documentation>
                Addressitüübi kirjeldus.
              </documentation>
            </annotation>
          </element>
          <element minOccurs="1" maxOccurs="1" name="DateModified" type="dateTime"/>
          <element minOccurs="0" maxOccurs="1" name="Country" type="tns:SAISClassification">
            <annotation>
              <documentation>
                Riik.
              </documentation>
            </annotation>
          </element>
          <element minOccurs="0" maxOccurs="1" name="County" type="string">
            <annotation>
              <documentation>
                Maakond
              </documentation>
            </annotation>
          </element>
          <element minOccurs="0" maxOccurs="1" name="Parish" type="string">
            <annotation>
              <documentation>
                Vald
              </documentation>
            </annotation>
          </element>
          <element minOccurs="0" maxOccurs="1" name="City" type="string">
            <annotation>
              <documentation>
                Linn
              </documentation>
            </annotation>
          </element>
          <element minOccurs="0" maxOccurs="1" name="PlaceOrCityPart" type="string">
            <annotation>
              <documentation>
                Asula või linnaosa.
              </documentation>
            </annotation>
          </element>
          <element minOccurs="0" maxOccurs="1" name="Street" type="string">
            <annotation>
              <documentation>
                Tänav
              </documentation>
            </annotation>
          </element>
          <element minOccurs="0" maxOccurs="1" name="House" type="string">
            <annotation>
              <documentation>
                Maja number
              </documentation>
            </annotation>
          </element>
          <element minOccurs="0" maxOccurs="1" name="Apartment" type="string">
            <annotation>
              <documentation>
                Korteri number
              </documentation>
            </annotation>
          </element>
          <element minOccurs="0" maxOccurs="1" name="Address" type="string">
            <annotation>
              <documentation>
                Aadress
              </documentation>
            </annotation>
          </element>
          <element minOccurs="0" maxOccurs="1" name="Postalcode" type="string">
            <annotation>
              <documentation>
                Sihtnumber
              </documentation>
            </annotation>
          </element>
          <element minOccurs="0" maxOccurs="1" name="AdsAddressCode" type="string">
            <annotation>
              <documentation>
                Aadressikood ADS andmebaasis
              </documentation>
            </annotation>
          </element>
          <element minOccurs="0" maxOccurs="1" name="AdsOid" type="string">
            <annotation>
              <documentation>
                Aadressiobjekti identifikaator (ADS OID) ADS andmebaasis
              </documentation>
            </annotation>
          </element>
        </sequence>
      </complexType>
      <element name="AllApplicationsExport">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="request" nillable="true" type="tns:AllAppsExportRequest"/>
          </sequence>
        </complexType>
      </element>
      <complexType name="AllAppsExportRequest">
        <sequence>
          <element minOccurs="0" maxOccurs="1" name="InstitutionRegCodes" type="tns:ArrayOfInt"/>
          <element minOccurs="1" maxOccurs="1" name="AdmissionId" nillable="true" type="s2:guid"/>
          <element minOccurs="1" maxOccurs="1" name="StatusChangeDateFrom" nillable="true" type="dateTime"/>
          <element minOccurs="1" maxOccurs="1" name="StatusChangeDateTo" nillable="true" type="dateTime"/>
          <element minOccurs="0" maxOccurs="1" name="IdCode" type="string"/>
          <element minOccurs="0" maxOccurs="1" name="StudyLevel" type="string"/>
          <element minOccurs="0" maxOccurs="1" name="ApplicationStatusValues" type="tns:ArrayOfString"/>
          <element minOccurs="0" maxOccurs="1" name="Page" type="int" nillable="true">
            <annotation>
              <documentation>Page number (Starts from 0)</documentation>
            </annotation>
          </element>
        </sequence>
      </complexType>
      <complexType name="ArrayOfInt">
        <sequence>
          <element minOccurs="0" maxOccurs="unbounded" name="int" type="int"/>
        </sequence>
      </complexType>
      <element name="AllApplicationsExportResponse">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="request" nillable="true" type="tns:AllAppsExportRequest"/>
            <element minOccurs="0" maxOccurs="1" name="response" type="tns:AppExportResponse"/>
          </sequence>
        </complexType>
      </element>
      <element name="AdmissionsExport">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="request" nillable="true" type="tns:AdmissionExportRequest"/>
          </sequence>
        </complexType>
      </element>
      <complexType name="AdmissionExportRequest">
        <sequence>
          <element minOccurs="1" maxOccurs="1" name="CreateDateFrom" nillable="true" type="dateTime"/>
          <element minOccurs="1" maxOccurs="1" name="CreateDateTo" nillable="true" type="dateTime"/>
          <element minOccurs="1" maxOccurs="1" name="ModifyDateFrom" nillable="true" type="dateTime"/>
          <element minOccurs="1" maxOccurs="1" name="ModifyDateTo" nillable="true" type="dateTime"/>
        </sequence>
      </complexType>
      <element name="AdmissionsExportResponse">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="request" nillable="true" type="tns:AdmissionExportRequest"/>
            <element minOccurs="0" maxOccurs="1" name="response" type="tns:AdmissionExportResponse"/>
          </sequence>
        </complexType>
      </element>
      <complexType name="AdmissionExportResponse">
        <sequence>
          <element minOccurs="0" maxOccurs="1" name="Admissions" type="tns:ArrayOfAdmission"/>
        </sequence>
      </complexType>
      <complexType name="ArrayOfAdmission">
        <sequence>
          <element minOccurs="0" maxOccurs="unbounded" name="Admission" nillable="true" type="tns:Admission"/>
        </sequence>
      </complexType>
      <complexType name="Admission">
        <sequence>
          <element minOccurs="1" maxOccurs="1" name="Id" type="s2:guid"/>
          <element minOccurs="1" maxOccurs="1" name="DateCreated" type="dateTime"/>
          <element minOccurs="1" maxOccurs="1" name="DateModified" type="dateTime"/>
          <element minOccurs="0" maxOccurs="1" name="Name" type="tns:ArrayOfKvp"/>
          <element minOccurs="0" maxOccurs="1" name="Code" type="string"/>
          <element minOccurs="1" maxOccurs="1" name="RootInstitutionId" nillable="true" type="s2:guid"/>
          <element minOccurs="0" maxOccurs="1" name="RootInstitutionCode" type="string"/>
          <element minOccurs="0" maxOccurs="1" name="InstitutionCode" type="string"/>
          <element minOccurs="1" maxOccurs="1" name="InstitutionId" type="s2:guid"/>
          <element minOccurs="1" maxOccurs="1" name="AdmissionPeriodId" nillable="true" type="s2:guid"/>
          <element minOccurs="1" maxOccurs="1" name="AdmissionPeriodStart" nillable="true" type="dateTime"/>
          <element minOccurs="1" maxOccurs="1" name="AdmissionPeriodEnd" nillable="true" type="dateTime"/>
          <element minOccurs="0" maxOccurs="1" name="EHISStudyLevel" type="tns:SAISClassification"/>
          <element minOccurs="0" maxOccurs="1" name="StudyForms" type="tns:ArrayOfSAISClassification"/>
          <element minOccurs="0" maxOccurs="1" name="CurriculumLanguages" type="tns:ArrayOfSAISClassification"/>
          <element minOccurs="0" maxOccurs="1" name="Curriculums" type="tns:ArrayOfAdmissionCurriculum"/>
          <element minOccurs="0" maxOccurs="1" name="StudyLocationCountry" type="tns:SAISClassification"/>
          <element minOccurs="0" maxOccurs="1" name="StudyLocationCity" type="tns:ArrayOfKvp"/>
          <element minOccurs="0" maxOccurs="1" name="AdmissionTuitions" type="tns:ArrayOfAdmissionTuition"/>
          <element minOccurs="1" maxOccurs="1" name="IsPartialLoad" type="boolean"/>
          <element minOccurs="1" maxOccurs="1" name="IsFullLoad" type="boolean"/>
          <element minOccurs="1" maxOccurs="1" name="AdmissionCount" nillable="true" type="int"/>
        </sequence>
      </complexType>
      <complexType name="ArrayOfSAISClassification">
        <sequence>
          <element minOccurs="0" maxOccurs="unbounded" name="SAISClassification" nillable="true" type="tns:SAISClassification"/>
        </sequence>
      </complexType>
      <complexType name="ArrayOfAdmissionCurriculum">
        <sequence>
          <element minOccurs="0" maxOccurs="unbounded" name="AdmissionCurriculum" nillable="true" type="tns:AdmissionCurriculum"/>
        </sequence>
      </complexType>
      <complexType name="AdmissionCurriculum">
        <sequence>
          <element minOccurs="1" maxOccurs="1" name="Id" type="s2:guid"/>
          <element minOccurs="0" maxOccurs="1" name="Name" type="tns:ArrayOfKvp"/>
          <element minOccurs="1" maxOccurs="1" name="EHISCode" type="int"/>
        </sequence>
      </complexType>
      <complexType name="ArrayOfAdmissionTuition">
        <sequence>
          <element minOccurs="0" maxOccurs="unbounded" name="AdmissionTuition" nillable="true" type="tns:AdmissionTuition"/>
        </sequence>
      </complexType>
      <complexType name="AdmissionTuition">
        <sequence>
          <element minOccurs="1" maxOccurs="1" name="Id" type="s2:guid"/>
          <element minOccurs="1" maxOccurs="1" name="IsFree" type="boolean"/>
          <element minOccurs="0" maxOccurs="1" name="Currency" type="tns:SAISClassification"/>
          <element minOccurs="1" maxOccurs="1" name="Amount" type="decimal"/>
          <element minOccurs="0" maxOccurs="1" name="TuitionType" type="tns:SAISClassification"/>
          <element minOccurs="0" maxOccurs="1" name="Descripiton" type="tns:ArrayOfKvp"/>
          <element minOccurs="1" maxOccurs="1" name="IsFullLoad" type="boolean"/>
        </sequence>
      </complexType>
      <element name="AllAdmissionsExport">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="request" nillable="true" type="tns:AllAdmissionsExportRequest"/>
          </sequence>
        </complexType>
      </element>
      <complexType name="AllAdmissionsExportRequest">
        <sequence>
          <element minOccurs="0" maxOccurs="1" name="InstitutionRegCodes" type="tns:ArrayOfInt"/>
          <element minOccurs="1" maxOccurs="1" name="CreateDateFrom" nillable="true" type="dateTime"/>
          <element minOccurs="1" maxOccurs="1" name="CreateDateTo" nillable="true" type="dateTime"/>
          <element minOccurs="1" maxOccurs="1" name="ModifyDateFrom" nillable="true" type="dateTime"/>
          <element minOccurs="1" maxOccurs="1" name="ModifyDateTo" nillable="true" type="dateTime"/>
        </sequence>
      </complexType>
      <element name="AllAdmissionsExportResponse">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="request" nillable="true" type="tns:AllAdmissionsExportRequest"/>
            <element minOccurs="0" maxOccurs="1" name="response" type="tns:AdmissionExportResponse"/>
          </sequence>
        </complexType>
      </element>
      <element name="ApplicationsImport">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="request" nillable="true" type="tns:AppImportRequest"/>
          </sequence>
        </complexType>
      </element>
      <complexType name="AppImportRequest">
        <sequence>
          <element minOccurs="0" maxOccurs="1" name="Applications" type="tns:ArrayOfImportApp"/>
        </sequence>
      </complexType>
      <complexType name="ArrayOfImportApp">
        <sequence>
          <element minOccurs="0" maxOccurs="unbounded" name="ImportApp" nillable="true" type="tns:ImportApp"/>
        </sequence>
      </complexType>
      <complexType name="ImportApp">
        <sequence>
          <element minOccurs="0" maxOccurs="1" name="ApplicationId" type="string"/>
          <element minOccurs="0" maxOccurs="1" name="InstitutionRegCode" type="string"/>
          <element minOccurs="0" maxOccurs="1" name="IdCode" type="string"/>
          <element minOccurs="0" maxOccurs="1" name="OtherIdCode" type="string"/>
          <element minOccurs="0" maxOccurs="1" name="FirstName" type="string"/>
          <element minOccurs="0" maxOccurs="1" name="LastName" type="string"/>
          <element minOccurs="0" maxOccurs="1" name="Sex" type="string"/>
          <element minOccurs="1" maxOccurs="1" name="Birthday" type="dateTime"/>
          <element minOccurs="0" maxOccurs="1" name="CountryCode" type="string"/>
          <element minOccurs="0" maxOccurs="1" name="CitizenshipCountryCode" type="string"/>
          <element minOccurs="0" maxOccurs="1" name="ResidencyPermitNumber" type="string"/>
          <element minOccurs="0" maxOccurs="1" name="ResidencyPermitCode" type="string"/>
          <element minOccurs="1" maxOccurs="1" name="ResidencyPermitExpireDate" nillable="true" type="dateTime"/>
          <element minOccurs="0" maxOccurs="1" name="Phone" type="string"/>
          <element minOccurs="0" maxOccurs="1" name="Email" type="string"/>
          <element minOccurs="0" maxOccurs="1" name="Address" type="string"/>
          <element minOccurs="0" maxOccurs="1" name="Postalcode" type="string"/>
          <element minOccurs="1" maxOccurs="1" name="AdmissionId" type="s2:guid"/>
          <element minOccurs="1" maxOccurs="1" name="AdmissionTuitionId" nillable="true" type="s2:guid"/>
          <element minOccurs="0" maxOccurs="1" name="StudyFormCode" type="string"/>
          <element minOccurs="0" maxOccurs="1" name="ApplicationNumber" type="string"/>
          <element minOccurs="1" maxOccurs="1" name="IsFullLoad" nillable="false" type="boolean"/>
          <element minOccurs="0" maxOccurs="1" name="CandidateEducations" type="tns:ArrayOfCandidateEducationItem"/>
        </sequence>
      </complexType>
      <complexType name="ArrayOfCandidateEducationItem">
        <sequence>
          <element minOccurs="0" maxOccurs="unbounded" name="CandidateEducationItem" nillable="true" type="tns:CandidateEducationItem"/>
        </sequence>
      </complexType>
      <complexType name="CandidateEducationItem">
        <sequence>
          <element minOccurs="0" maxOccurs="1" name="InstitutionName" type="string"/>
          <element minOccurs="0" maxOccurs="1" name="InstitutionCode" type="string"/>
          <element minOccurs="0" maxOccurs="1" name="InstitutionCountryCode" type="string"/>
          <element minOccurs="1" maxOccurs="1" name="StudyBeginDate" nillable="true" type="dateTime"/>
          <element minOccurs="1" maxOccurs="1" name="StudyEndDate" nillable="true" type="dateTime"/>
          <element minOccurs="0" maxOccurs="1" name="EhisStudyLevelCode" type="string"/>
          <element minOccurs="0" maxOccurs="1" name="StudyLanguageCode" type="string"/>
          <element minOccurs="1" maxOccurs="1" name="CommendationCode" nillable="true" type="int"/>
          <element minOccurs="0" maxOccurs="1" name="FinancingModeCode" type="string"/>
          <element minOccurs="0" maxOccurs="1" name="CertificateNumber" type="string"/>
          <element minOccurs="1" maxOccurs="1" name="CertificateDate" nillable="true" type="dateTime"/>
          <element minOccurs="0" maxOccurs="1" name="StudyStatusCode" type="string"/>
          <element minOccurs="1" maxOccurs="1" name="UseForAdmission" type="boolean"/>
        </sequence>
      </complexType>
      <element name="ApplicationsImportResponse">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="request" nillable="true" type="tns:AppImportRequest"/>
            <element minOccurs="0" maxOccurs="1" name="response" type="tns:AppImportResponse"/>
          </sequence>
        </complexType>
      </element>
      <complexType name="AppImportResponse">
        <sequence>
          <element minOccurs="0" maxOccurs="1" name="Results" type="tns:ArrayOfIdPair"/>
        </sequence>
      </complexType>
      <complexType name="ArrayOfIdPair">
        <sequence>
          <element minOccurs="0" maxOccurs="unbounded" name="IdPair" nillable="true" type="tns:IdPair"/>
        </sequence>
      </complexType>
      <complexType name="IdPair">
        <sequence>
          <element minOccurs="0" maxOccurs="1" name="ImportId" type="string"/>
          <element minOccurs="1" maxOccurs="1" name="SaisId" type="s2:guid"/>
        </sequence>
      </complexType>
      <element name="ClassificationsExport">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="request" nillable="true" type="tns:EmptyParameters"/>
          </sequence>
        </complexType>
      </element>
      <complexType name="EmptyParameters"/>
      <element name="ClassificationsExportResponse">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="request" nillable="true" type="tns:EmptyParameters"/>
            <element minOccurs="0" maxOccurs="1" name="response" type="tns:ClassificationExport"/>
          </sequence>
        </complexType>
      </element>
      <complexType name="ClassificationExport">
        <sequence>
          <element minOccurs="0" maxOccurs="1" name="ClassificationTypes" type="tns:ArrayOfClassificationTypeItem"/>
        </sequence>
      </complexType>
      <complexType name="ArrayOfClassificationTypeItem">
        <sequence>
          <element minOccurs="0" maxOccurs="unbounded" name="ClassificationTypeItem" nillable="true" type="tns:ClassificationTypeItem"/>
        </sequence>
      </complexType>
      <complexType name="ClassificationTypeItem">
        <sequence>
          <element minOccurs="1" maxOccurs="1" name="Id" type="s2:guid"/>
          <element minOccurs="0" maxOccurs="1" name="Name" type="string"/>
          <element minOccurs="0" maxOccurs="1" name="Description" type="string"/>
          <element minOccurs="0" maxOccurs="1" name="Classifications" type="tns:ArrayOfClassificationItem"/>
        </sequence>
      </complexType>
      <complexType name="ArrayOfClassificationItem">
        <sequence>
          <element minOccurs="0" maxOccurs="unbounded" name="ClassificationItem" nillable="true" type="tns:ClassificationItem"/>
        </sequence>
      </complexType>
      <complexType name="ClassificationItem">
        <sequence>
          <element minOccurs="1" maxOccurs="1" name="Id" type="s2:guid"/>
          <element minOccurs="1" maxOccurs="1" name="ClassificationTypeId" type="s2:guid"/>
          <element minOccurs="0" maxOccurs="1" name="Value" type="string"/>
          <element minOccurs="0" maxOccurs="1" name="Description" type="string"/>
          <element minOccurs="1" maxOccurs="1" name="Weight" nillable="true" type="int"/>
          <element minOccurs="1" maxOccurs="1" name="IsActive" type="boolean"/>
          <element minOccurs="1" maxOccurs="1" name="IsImported" type="boolean"/>
          <element minOccurs="0" maxOccurs="1" name="Name" type="string"/>
          <element minOccurs="0" maxOccurs="1" name="Translation" type="tns:ArrayOfKvp"/>
          <element minOccurs="0" maxOccurs="1" name="DescriptionTranslation" type="tns:ArrayOfKvp"/>
          <element minOccurs="0" maxOccurs="1" name="Value2" type="string"/>
        </sequence>
      </complexType>
      <element name="DismissApplication">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="request" nillable="true" type="tns:AppDismissRequest"/>
          </sequence>
        </complexType>
      </element>
      <complexType name="AppDismissRequest">
        <sequence>
          <element minOccurs="1" maxOccurs="1" name="ApplicationId" type="s2:guid"/>
        </sequence>
      </complexType>
      <element name="DismissApplicationResponse">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="request" nillable="true" type="tns:AppDismissRequest"/>
            <element minOccurs="0" maxOccurs="1" name="response" type="tns:AppDismissResponse"/>
          </sequence>
        </complexType>
      </element>
      <complexType name="AppDismissResponse">
        <sequence>
          <element minOccurs="1" maxOccurs="1" name="IsDismissed" type="boolean"/>
        </sequence>
      </complexType>
      <element name="AppStatusExport">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="request" nillable="true" type="tns:AppStatusExportRequest"/>
          </sequence>
        </complexType>
      </element>
      <complexType name="AppStatusExportRequest">
        <sequence>
          <element minOccurs="0" maxOccurs="1" name="ApplicationIdList" type="tns:ArrayOfGuid"/>
          <element minOccurs="1" maxOccurs="1" name="StatusChangeDateFrom" nillable="true" type="dateTime"/>
          <element minOccurs="1" maxOccurs="1" name="StatusChangeDateTo" nillable="true" type="dateTime"/>
          <element minOccurs="0" maxOccurs="1" name="ApplicationStatusValues" type="tns:ArrayOfString"/>
        </sequence>
      </complexType>
      <complexType name="ArrayOfGuid">
        <sequence>
          <element minOccurs="0" maxOccurs="unbounded" name="guid" type="s2:guid"/>
        </sequence>
      </complexType>
      <element name="AppStatusExportResponse">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="request" nillable="true" type="tns:AppStatusExportRequest"/>
            <element minOccurs="0" maxOccurs="1" name="response" type="tns:AppStatusExportResponse"/>
          </sequence>
        </complexType>
      </element>
      <complexType name="AppStatusExportResponse">
        <sequence>
          <element minOccurs="0" maxOccurs="1" name="ApplicationStatuses" type="tns:ArrayOfApplicationStatus"/>
        </sequence>
      </complexType>
      <complexType name="ArrayOfApplicationStatus">
        <sequence>
          <element minOccurs="0" maxOccurs="unbounded" name="ApplicationStatus" nillable="true" type="tns:ApplicationStatus"/>
        </sequence>
      </complexType>
      <complexType name="ApplicationStatus">
        <sequence>
          <element minOccurs="1" maxOccurs="1" name="ApplicationId" type="s2:guid"/>
          <element minOccurs="0" maxOccurs="1" name="Status" type="string"/>
        </sequence>
      </complexType>
      <element name="AppFilesExport">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="request" nillable="true" type="tns:AppFilesRequest"/>
          </sequence>
        </complexType>
      </element>
      <complexType name="AppFilesRequest">
        <sequence>
          <element minOccurs="1" maxOccurs="1" name="AdmissionId" nillable="true" type="s2:guid"/>
          <element minOccurs="1" maxOccurs="1" name="StatusChangeDateFrom" nillable="true" type="dateTime"/>
          <element minOccurs="1" maxOccurs="1" name="StatusChangeDateTo" nillable="true" type="dateTime"/>
          <element minOccurs="0" maxOccurs="1" name="IdCode" type="string"/>
          <element minOccurs="0" maxOccurs="1" name="StudyLevel" type="string"/>
          <element minOccurs="0" maxOccurs="1" name="ApplicationStatusValues" type="tns:ArrayOfString"/>
        </sequence>
      </complexType>
      <element name="AppFilesExportResponse">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="request" nillable="true" type="tns:AppFilesRequest"/>
            <element minOccurs="0" maxOccurs="1" name="response" type="tns:AppFilesResponse"/>
          </sequence>
        </complexType>
      </element>
      <complexType name="AppFilesResponse">
        <sequence>
          <element minOccurs="0" maxOccurs="1" name="FileList" type="tns:ArrayOfApplicationFile"/>
        </sequence>
      </complexType>
      <complexType name="ArrayOfApplicationFile">
        <sequence>
          <element minOccurs="0" maxOccurs="unbounded" name="ApplicationFile" nillable="true" type="tns:ApplicationFile"/>
        </sequence>
      </complexType>
      <complexType name="ApplicationFile">
        <sequence>
          <element minOccurs="1" maxOccurs="1" name="ApplicationId" type="s2:guid"/>
          <element minOccurs="1" maxOccurs="1" name="FileId" type="s2:guid"/>
          <element minOccurs="0" maxOccurs="1" name="Data" type="base64Binary"/>
          <element minOccurs="0" maxOccurs="1" name="FileName" type="string"/>
        </sequence>
      </complexType>
      <element name="AllAppFilesExport">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="request" nillable="true" type="tns:AllAppsExportRequest"/>
          </sequence>
        </complexType>
      </element>
      <element name="AllAppFilesExportResponse">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="request" nillable="true" type="tns:AllAppsExportRequest"/>
            <element minOccurs="0" maxOccurs="1" name="response" type="tns:AppFilesResponse"/>
          </sequence>
        </complexType>
      </element>
    </schema>
    <schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <simpleType name="guid">
        <restriction base="string">
          <pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}"/>
        </restriction>
      </simpleType>
    </schema>
  </wsdl:types>

  <wsdl:message name="requestHeader">
    <wsdl:part name="client" element="xrd:client"/>
    <wsdl:part name="service" element="xrd:service"/>
    <wsdl:part name="id" element="xrd:id"/>
    <wsdl:part name="userId" element="xrd:userId"/>
    <wsdl:part name="issue" element="xrd:issue"/>
    <wsdl:part name="protocolVersion" element="xrd:protocolVersion"/>
  </wsdl:message>
  <wsdl:message name="listMethodsSoapIn">
    <wsdl:part name="body" element="tns:listMethods"/>
  </wsdl:message>
  <wsdl:message name="listMethodsSoapOut">
    <wsdl:part name="body" element="tns:listMethodsResponse"/>
  </wsdl:message>
  <wsdl:message name="testSystemSoapIn">
    <wsdl:part name="body" element="tns:testSystem"/>
  </wsdl:message>
  <wsdl:message name="testSystemSoapOut">
    <wsdl:part name="body" element="tns:testSystemResponse"/>
  </wsdl:message>
  <wsdl:message name="ApplicationsExportSoapIn">
    <wsdl:part name="body" element="tns:ApplicationsExport"/>
  </wsdl:message>
  <wsdl:message name="ApplicationsExportSoapOut">
    <wsdl:part name="body" element="tns:ApplicationsExportResponse"/>
  </wsdl:message>
  <wsdl:message name="AllApplicationsExportSoapIn">
    <wsdl:part name="body" element="tns:AllApplicationsExport"/>
  </wsdl:message>
  <wsdl:message name="AllApplicationsExportSoapOut">
    <wsdl:part name="body" element="tns:AllApplicationsExportResponse"/>
  </wsdl:message>
  <wsdl:message name="AdmissionsExportSoapIn">
    <wsdl:part name="body" element="tns:AdmissionsExport"/>
  </wsdl:message>
  <wsdl:message name="AdmissionsExportSoapOut">
    <wsdl:part name="body" element="tns:AdmissionsExportResponse"/>
  </wsdl:message>
  <wsdl:message name="AllAdmissionsExportSoapIn">
    <wsdl:part name="body" element="tns:AllAdmissionsExport"/>
  </wsdl:message>
  <wsdl:message name="AllAdmissionsExportSoapOut">
    <wsdl:part name="body" element="tns:AllAdmissionsExportResponse"/>
  </wsdl:message>
  <wsdl:message name="ApplicationsImportSoapIn">
    <wsdl:part name="body" element="tns:ApplicationsImport"/>
  </wsdl:message>
  <wsdl:message name="ApplicationsImportSoapOut">
    <wsdl:part name="body" element="tns:ApplicationsImportResponse"/>
  </wsdl:message>
  <wsdl:message name="ClassificationsExportSoapIn">
    <wsdl:part name="body" element="tns:ClassificationsExport"/>
  </wsdl:message>
  <wsdl:message name="ClassificationsExportSoapOut">
    <wsdl:part name="body" element="tns:ClassificationsExportResponse"/>
  </wsdl:message>
  <wsdl:message name="DismissApplicationSoapIn">
    <wsdl:part name="body" element="tns:DismissApplication"/>
  </wsdl:message>
  <wsdl:message name="DismissApplicationSoapOut">
    <wsdl:part name="body" element="tns:DismissApplicationResponse"/>
  </wsdl:message>
  <wsdl:message name="AppStatusExportSoapIn">
    <wsdl:part name="body" element="tns:AppStatusExport"/>
  </wsdl:message>
  <wsdl:message name="AppStatusExportSoapOut">
    <wsdl:part name="body" element="tns:AppStatusExportResponse"/>
  </wsdl:message>
  <wsdl:message name="AppFilesExportSoapIn">
    <wsdl:part name="body" element="tns:AppFilesExport"/>
  </wsdl:message>
  <wsdl:message name="AppFilesExportSoapOut">
    <wsdl:part name="body" element="tns:AppFilesExportResponse"/>
  </wsdl:message>
  <wsdl:message name="AllAppFilesExportSoapIn">
    <wsdl:part name="body" element="tns:AllAppFilesExport"/>
  </wsdl:message>
  <wsdl:message name="AllAppFilesExportSoapOut">
    <wsdl:part name="body" element="tns:AllAppFilesExportResponse"/>
  </wsdl:message>

  <wsdl:portType name="XRoadSoap">
    <wsdl:operation name="listMethods">
      <wsdl:input message="tns:listMethodsSoapIn"/>
      <wsdl:output message="tns:listMethodsSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="testSystem">
      <wsdl:input message="tns:testSystemSoapIn"/>
      <wsdl:output message="tns:testSystemSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="ApplicationsExport">
      <wsdl:input message="tns:ApplicationsExportSoapIn"/>
      <wsdl:output message="tns:ApplicationsExportSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="AllApplicationsExport">
      <wsdl:input message="tns:AllApplicationsExportSoapIn"/>
      <wsdl:output message="tns:AllApplicationsExportSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="AdmissionsExport">
      <wsdl:input message="tns:AdmissionsExportSoapIn"/>
      <wsdl:output message="tns:AdmissionsExportSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="AllAdmissionsExport">
      <wsdl:input message="tns:AllAdmissionsExportSoapIn"/>
      <wsdl:output message="tns:AllAdmissionsExportSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="ApplicationsImport">
      <wsdl:input message="tns:ApplicationsImportSoapIn"/>
      <wsdl:output message="tns:ApplicationsImportSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="ClassificationsExport">
      <wsdl:input message="tns:ClassificationsExportSoapIn"/>
      <wsdl:output message="tns:ClassificationsExportSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="DismissApplication">
      <wsdl:input message="tns:DismissApplicationSoapIn"/>
      <wsdl:output message="tns:DismissApplicationSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="AppStatusExport">
      <wsdl:input message="tns:AppStatusExportSoapIn"/>
      <wsdl:output message="tns:AppStatusExportSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="AppFilesExport">
      <wsdl:input message="tns:AppFilesExportSoapIn"/>
      <wsdl:output message="tns:AppFilesExportSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="AllAppFilesExport">
      <wsdl:input message="tns:AllAppFilesExportSoapIn"/>
      <wsdl:output message="tns:AllAppFilesExportSoapOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="XRoadSoap" type="tns:XRoadSoap">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="listMethods">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input>
        <soap:header message="tns:requestHeader" part="client" use="literal"/>
        <soap:header message="tns:requestHeader" part="service" use="literal"/>
        <soap:header message="tns:requestHeader" part="id" use="literal"/>
        <soap:header message="tns:requestHeader" part="userId" use="literal"/>
        <soap:header message="tns:requestHeader" part="protocolVersion" use="literal"/>
        <soap:body parts="body" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:requestHeader" part="client" use="literal"/>
        <soap:header message="tns:requestHeader" part="service" use="literal"/>
        <soap:header message="tns:requestHeader" part="id" use="literal"/>
        <soap:header message="tns:requestHeader" part="userId" use="literal"/>
        <soap:header message="tns:requestHeader" part="protocolVersion" use="literal"/>
        <soap:body parts="body" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="testSystem">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input>
        <soap:header message="tns:requestHeader" part="client" use="literal"/>
        <soap:header message="tns:requestHeader" part="service" use="literal"/>
        <soap:header message="tns:requestHeader" part="id" use="literal"/>
        <soap:header message="tns:requestHeader" part="userId" use="literal"/>
        <soap:header message="tns:requestHeader" part="protocolVersion" use="literal"/>
        <soap:body parts="body" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:requestHeader" part="client" use="literal"/>
        <soap:header message="tns:requestHeader" part="service" use="literal"/>
        <soap:header message="tns:requestHeader" part="id" use="literal"/>
        <soap:header message="tns:requestHeader" part="userId" use="literal"/>
        <soap:header message="tns:requestHeader" part="protocolVersion" use="literal"/>
        <soap:body parts="body" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ApplicationsExport">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input>
        <soap:header message="tns:requestHeader" part="client" use="literal"/>
        <soap:header message="tns:requestHeader" part="service" use="literal"/>
        <soap:header message="tns:requestHeader" part="id" use="literal"/>
        <soap:header message="tns:requestHeader" part="userId" use="literal"/>
        <soap:header message="tns:requestHeader" part="protocolVersion" use="literal"/>
        <soap:body parts="body" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:requestHeader" part="client" use="literal"/>
        <soap:header message="tns:requestHeader" part="service" use="literal"/>
        <soap:header message="tns:requestHeader" part="id" use="literal"/>
        <soap:header message="tns:requestHeader" part="userId" use="literal"/>
        <soap:header message="tns:requestHeader" part="protocolVersion" use="literal"/>
        <soap:body parts="body" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AllApplicationsExport">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input>
        <soap:header message="tns:requestHeader" part="client" use="literal"/>
        <soap:header message="tns:requestHeader" part="service" use="literal"/>
        <soap:header message="tns:requestHeader" part="id" use="literal"/>
        <soap:header message="tns:requestHeader" part="userId" use="literal"/>
        <soap:header message="tns:requestHeader" part="protocolVersion" use="literal"/>
        <soap:body parts="body" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:requestHeader" part="client" use="literal"/>
        <soap:header message="tns:requestHeader" part="service" use="literal"/>
        <soap:header message="tns:requestHeader" part="id" use="literal"/>
        <soap:header message="tns:requestHeader" part="userId" use="literal"/>
        <soap:header message="tns:requestHeader" part="protocolVersion" use="literal"/>
        <soap:body parts="body" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AdmissionsExport">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input>
        <soap:header message="tns:requestHeader" part="client" use="literal"/>
        <soap:header message="tns:requestHeader" part="service" use="literal"/>
        <soap:header message="tns:requestHeader" part="id" use="literal"/>
        <soap:header message="tns:requestHeader" part="userId" use="literal"/>
        <soap:header message="tns:requestHeader" part="protocolVersion" use="literal"/>
        <soap:body parts="body" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:requestHeader" part="client" use="literal"/>
        <soap:header message="tns:requestHeader" part="service" use="literal"/>
        <soap:header message="tns:requestHeader" part="id" use="literal"/>
        <soap:header message="tns:requestHeader" part="userId" use="literal"/>
        <soap:header message="tns:requestHeader" part="protocolVersion" use="literal"/>
        <soap:body parts="body" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AllAdmissionsExport">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input>
        <soap:header message="tns:requestHeader" part="client" use="literal"/>
        <soap:header message="tns:requestHeader" part="service" use="literal"/>
        <soap:header message="tns:requestHeader" part="id" use="literal"/>
        <soap:header message="tns:requestHeader" part="userId" use="literal"/>
        <soap:header message="tns:requestHeader" part="protocolVersion" use="literal"/>
        <soap:body parts="body" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:requestHeader" part="client" use="literal"/>
        <soap:header message="tns:requestHeader" part="service" use="literal"/>
        <soap:header message="tns:requestHeader" part="id" use="literal"/>
        <soap:header message="tns:requestHeader" part="userId" use="literal"/>
        <soap:header message="tns:requestHeader" part="protocolVersion" use="literal"/>
        <soap:body parts="body" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ApplicationsImport">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input>
        <soap:header message="tns:requestHeader" part="client" use="literal"/>
        <soap:header message="tns:requestHeader" part="service" use="literal"/>
        <soap:header message="tns:requestHeader" part="id" use="literal"/>
        <soap:header message="tns:requestHeader" part="userId" use="literal"/>
        <soap:header message="tns:requestHeader" part="protocolVersion" use="literal"/>
        <soap:body parts="body" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:requestHeader" part="client" use="literal"/>
        <soap:header message="tns:requestHeader" part="service" use="literal"/>
        <soap:header message="tns:requestHeader" part="id" use="literal"/>
        <soap:header message="tns:requestHeader" part="userId" use="literal"/>
        <soap:header message="tns:requestHeader" part="protocolVersion" use="literal"/>
        <soap:body parts="body" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClassificationsExport">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input>
        <soap:header message="tns:requestHeader" part="client" use="literal"/>
        <soap:header message="tns:requestHeader" part="service" use="literal"/>
        <soap:header message="tns:requestHeader" part="id" use="literal"/>
        <soap:header message="tns:requestHeader" part="userId" use="literal"/>
        <soap:header message="tns:requestHeader" part="protocolVersion" use="literal"/>
        <soap:body parts="body" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:requestHeader" part="client" use="literal"/>
        <soap:header message="tns:requestHeader" part="service" use="literal"/>
        <soap:header message="tns:requestHeader" part="id" use="literal"/>
        <soap:header message="tns:requestHeader" part="userId" use="literal"/>
        <soap:header message="tns:requestHeader" part="protocolVersion" use="literal"/>
        <soap:body parts="body" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DismissApplication">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input>
        <soap:header message="tns:requestHeader" part="client" use="literal"/>
        <soap:header message="tns:requestHeader" part="service" use="literal"/>
        <soap:header message="tns:requestHeader" part="id" use="literal"/>
        <soap:header message="tns:requestHeader" part="userId" use="literal"/>
        <soap:header message="tns:requestHeader" part="protocolVersion" use="literal"/>
        <soap:body parts="body" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:requestHeader" part="client" use="literal"/>
        <soap:header message="tns:requestHeader" part="service" use="literal"/>
        <soap:header message="tns:requestHeader" part="id" use="literal"/>
        <soap:header message="tns:requestHeader" part="userId" use="literal"/>
        <soap:header message="tns:requestHeader" part="protocolVersion" use="literal"/>
        <soap:body parts="body" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AppStatusExport">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input>
        <soap:header message="tns:requestHeader" part="client" use="literal"/>
        <soap:header message="tns:requestHeader" part="service" use="literal"/>
        <soap:header message="tns:requestHeader" part="id" use="literal"/>
        <soap:header message="tns:requestHeader" part="userId" use="literal"/>
        <soap:header message="tns:requestHeader" part="protocolVersion" use="literal"/>
        <soap:body parts="body" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:requestHeader" part="client" use="literal"/>
        <soap:header message="tns:requestHeader" part="service" use="literal"/>
        <soap:header message="tns:requestHeader" part="id" use="literal"/>
        <soap:header message="tns:requestHeader" part="userId" use="literal"/>
        <soap:header message="tns:requestHeader" part="protocolVersion" use="literal"/>
        <soap:body parts="body" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AppFilesExport">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input>
        <soap:header message="tns:requestHeader" part="client" use="literal"/>
        <soap:header message="tns:requestHeader" part="service" use="literal"/>
        <soap:header message="tns:requestHeader" part="id" use="literal"/>
        <soap:header message="tns:requestHeader" part="userId" use="literal"/>
        <soap:header message="tns:requestHeader" part="protocolVersion" use="literal"/>
        <soap:body parts="body" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:requestHeader" part="client" use="literal"/>
        <soap:header message="tns:requestHeader" part="service" use="literal"/>
        <soap:header message="tns:requestHeader" part="id" use="literal"/>
        <soap:header message="tns:requestHeader" part="userId" use="literal"/>
        <soap:header message="tns:requestHeader" part="protocolVersion" use="literal"/>
        <soap:body parts="body" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AllAppFilesExport">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input>
        <soap:header message="tns:requestHeader" part="client" use="literal"/>
        <soap:header message="tns:requestHeader" part="service" use="literal"/>
        <soap:header message="tns:requestHeader" part="id" use="literal"/>
        <soap:header message="tns:requestHeader" part="userId" use="literal"/>
        <soap:header message="tns:requestHeader" part="protocolVersion" use="literal"/>
        <soap:body parts="body" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:requestHeader" part="client" use="literal"/>
        <soap:header message="tns:requestHeader" part="service" use="literal"/>
        <soap:header message="tns:requestHeader" part="id" use="literal"/>
        <soap:header message="tns:requestHeader" part="userId" use="literal"/>
        <soap:header message="tns:requestHeader" part="protocolVersion" use="literal"/>
        <soap:body parts="body" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="XRoadV6">
    <wsdl:port name="XRoadSoap" binding="tns:XRoadSoap">
      <soap:address location="http://localhost:48752/XRoad/XRoadV6.asmx"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>