hois_ws/src/main/resources/wsdl/ekis/ekis.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tahvel.hois.ee/ekis" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://tahvel.hois.ee/ekis">
    <wsdl:types><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://tahvel.hois.ee/ekis">
	<xsd:element name="rejectDirective">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="uid" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
				<xsd:element name="oisDirectiveId" type="xsd:long" maxOccurs="1" minOccurs="1"></xsd:element>
				<xsd:element name="wdDirectiveId" type="xsd:long" maxOccurs="1" minOccurs="1"></xsd:element>
				<xsd:element name="preamble" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
				<xsd:element name="rejectComment" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="rejectDirectiveResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="oisDirectiveId" type="xsd:long" maxOccurs="1" minOccurs="1"></xsd:element>
				<xsd:element name="wdDirectiveId" type="xsd:long" maxOccurs="1" minOccurs="1"></xsd:element>
				<xsd:element name="status" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="enforceDirective">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="uid" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
				<xsd:element name="oisDirectiveId" type="xsd:long" maxOccurs="1" minOccurs="1"></xsd:element>
				<xsd:element name="wdDirectiveId" type="xsd:long" maxOccurs="1" minOccurs="1"></xsd:element>
				<xsd:element name="preamble" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
				<xsd:element name="directiveNumber" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
				<xsd:element name="directiveDate" type="xsd:date" maxOccurs="1" minOccurs="1"></xsd:element>
				<xsd:element name="signerIDCode" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
				<xsd:element name="signerName" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="enforceDirectiveResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="oisDirectiveId" type="xsd:long" maxOccurs="1" minOccurs="1"></xsd:element>
				<xsd:element name="wdDirectiveId" type="xsd:long" maxOccurs="1" minOccurs="1"></xsd:element>
				<xsd:element name="status" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="enforceContract">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="uid" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
				<xsd:element name="oisContractId" type="xsd:long" maxOccurs="1" minOccurs="1"></xsd:element>
				<xsd:element name="wdContractId" type="xsd:long" maxOccurs="1" minOccurs="1"></xsd:element>
				<xsd:element name="contractNumber" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
				<xsd:element name="contractDate" type="xsd:date" maxOccurs="1" minOccurs="1"></xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="enforceContractResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="oisContractId" type="xsd:long" maxOccurs="1" minOccurs="1"></xsd:element>
				<xsd:element name="wdContractId" type="xsd:long" maxOccurs="1" minOccurs="1"></xsd:element>
				<xsd:element name="status" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	</xsd:schema></wsdl:types>
    <wsdl:message name="rejectDirectiveRequest">
    	<wsdl:part name="parameters" element="tns:rejectDirective"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="rejectDirectiveResponse">
    	<wsdl:part name="parameters" element="tns:rejectDirectiveResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="enforceDirectiveRequest">
    	<wsdl:part name="parameters" element="tns:enforceDirective"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="enforceDirectiveResponse">
    	<wsdl:part name="parameters" element="tns:enforceDirectiveResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="enforceContractRequest">
    	<wsdl:part name="parameters" element="tns:enforceContract"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="enforceContractResponse">
    	<wsdl:part name="parameters" element="tns:enforceContractResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="EkisTahvelPort">
        <wsdl:operation name="rejectDirective">
        	<wsdl:input message="tns:rejectDirectiveRequest"></wsdl:input>
        	<wsdl:output message="tns:rejectDirectiveResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="enforceDirective">
        	<wsdl:input message="tns:enforceDirectiveRequest"></wsdl:input>
        	<wsdl:output message="tns:enforceDirectiveResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="enforceContract">
        	<wsdl:input message="tns:enforceContractRequest"></wsdl:input>
        	<wsdl:output message="tns:enforceContractResponse"></wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="EkisTahvelBind" type="tns:EkisTahvelPort">
    	<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    	<wsdl:operation name="rejectDirective">
	      <soap:operation soapAction="http://tahvel.hois.ee/ekis/rejectDirective"/>
	      <wsdl:input>
	        <soap:body use="literal"/>
	      </wsdl:input>
	      <wsdl:output>
	        <soap:body use="literal"/>
	      </wsdl:output>
	    </wsdl:operation>
	    <wsdl:operation name="enforceDirective">
	      <soap:operation soapAction="http://tahvel.hois.ee/ekis/enforceDirective"/>
	      <wsdl:input>
	        <soap:body use="literal"/>
	      </wsdl:input>
	      <wsdl:output>
	        <soap:body use="literal"/>
	      </wsdl:output>
	    </wsdl:operation>
	    <wsdl:operation name="enforceContract">
	      <soap:operation soapAction="http://tahvel.hois.ee/ekis/enforceContract"/>
	      <wsdl:input>
	        <soap:body use="literal"/>
	      </wsdl:input>
	      <wsdl:output>
	        <soap:body use="literal"/>
	      </wsdl:output>
	    </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="EkisTahvel">
    	<wsdl:port binding="tns:EkisTahvelBind" name="EkisTahvelSOAP">
    		<soap:address location="http://tahvel.hois.ee/ekis" />
    	</wsdl:port>
    </wsdl:service>
</wsdl:definitions>