hois_ws/src/main/java/ee/hois/xroad/sais2/service/sais3.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s2="http://microsoft.com/wsdl/types/"  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://sais2.x-road.ee/producer/"  xmlns:xrd="http://x-road.ee/xsd/x-road.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
    xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"   targetNamespace="http://sais2.x-road.ee/producer/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://x-road.ee/xsd/x-road.xsd">
      <s:element name="listMethods">
        <s:complexType />
      </s:element>
      <s:element name="listMethodsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="response" type="xrd:MethodList" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MethodList">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="item" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="testSystem">
        <s:complexType />
      </s:element>
      <s:element name="testSystemResponse">
        <s:complexType />
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://sais2.x-road.ee/producer/">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="ApplicationsExport">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="request" nillable="true" type="tns:AppExportRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="AppExportRequest">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="AdmissionId" nillable="true" type="s2:guid" />
          <s:element minOccurs="1" maxOccurs="1" name="StatusChangeDateFrom" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="StatusChangeDateTo" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="IdCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StudyLevel" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ApplicationStatusValues" type="tns:ArrayOfString" />
          <s:element minOccurs="0" maxOccurs="1" name="Page" type="s:int" nillable="true">
            <s:annotation>
              <s:documentation>Page number (Starts from 0)</s:documentation>
            </s:annotation>
          </s:element>
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ApplicationsExportResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="request" nillable="true" type="tns:AppExportRequest" />
            <s:element minOccurs="0" maxOccurs="1" name="response" type="tns:AppExportResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="AppExportResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Applications" type="tns:ArrayOfApplication" />
          <s:element minOccurs="0" maxOccurs="1" name="TotalCount" type="s:int">
            <s:annotation>
              <s:documentation>Total number of Applications</s:documentation>
            </s:annotation>
          </s:element>
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfApplication">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Application" nillable="true" type="tns:Application" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Application">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s2:guid">
            <s:annotation>
              <s:documentation>
                Avalduse ID.
              </s:documentation>
            </s:annotation>
          </s:element>
          <s:element minOccurs="1" maxOccurs="1" name="AdmissionId" type="s2:guid">
            <s:annotation>
              <s:documentation>
                Konkurssi ID.
              </s:documentation>
            </s:annotation>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="AdmissionCode" type="s:string">
            <s:annotation>
              <s:documentation>
                Konkurssi kood.
              </s:documentation>
            </s:annotation>
          </s:element>
          <s:element minOccurs="1" maxOccurs="1" name="ShowNameInRanking" nillable="true" type="s:boolean">
            <s:annotation>
              <s:documentation>
                Kandidaadi nimi avalikustatud vastuvõetute nimekirjas, siis väärtus "Jah", vastasel juhul "Ei".
              </s:documentation>
            </s:annotation>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string">
            <s:annotation>
              <s:documentation>
                Kandidaadi eesnimi.
              </s:documentation>
            </s:annotation>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string">
            <s:annotation>
              <s:documentation>
                Kandidaadi perekonnanimi.
              </s:documentation>
            </s:annotation>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="SexClassification" type="tns:SAISClassification">
            <s:annotation>
              <s:documentation>
                Soo klassifikaaotr.
              </s:documentation>
            </s:annotation>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="IdCode" type="s:string">
            <s:annotation>
              <s:documentation>
                Eesti isikukood.
              </s:documentation>
            </s:annotation>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="OtherIdNumber" type="s:string">
            <s:annotation>
              <s:documentation>
                Väliskandidaadi isikukood.
              </s:documentation>
            </s:annotation>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="ImportApplicationId" type="s:string">
            <s:annotation>
              <s:documentation>
                Avalduse teise süsteemi ID, väli täidetud, kui andmed tulevad teisest süsteemist, vastasel juhul väli tühi.
              </s:documentation>
            </s:annotation>
          </s:element>
          <s:element minOccurs="1" maxOccurs="1" name="ImportAppInstitutionRegNr" nillable="true" type="s:int">
            <s:annotation>
              <s:documentation>
                Asutuse registrikood, kui registrist avaldus pärineb.
              </s:documentation>
            </s:annotation>
          </s:element>
          <s:element minOccurs="1" maxOccurs="1" name="IsImported" type="s:boolean">
            <s:annotation>
              <s:documentation>
                Välja märgistus näitab, et avaldus on imporditud.
              </s:documentation>
            </s:annotation>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="CitizenshipCountry" type="tns:SAISClassification">
            <s:annotation>
              <s:documentation>
                Kodakondsuse maa klassifikaator.
              </s:documentation>
            </s:annotation>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="SecondaryCitizenshipCountry" type="tns:SAISClassification">
            <s:annotation>
              <s:documentation>
                Topeltkodakondsuse maa klassifikaator.
              </s:documentation>
            </s:annotation>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="ResidenceCountry" type="tns:SAISClassification">
            <s:annotation>
              <s:documentation>
                Elukohariigi klassifikaator.
              </s:documentation>
            </s:annotation>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="ResidencePermitType" type="tns:SAISClassification">
            <s:annotation>
              <s:documentation>
                Elamisloa klassifikaator.
              </s:documentation>
            </s:annotation>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="ResidencePermitNr" type="s:string">
            <s:annotation>
              <s:documentation>
                Elamisloa number.
              </s:documentation>
            </s:annotation>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="ResidencyPermitExpireDate" type="s:dateTime">
            <s:annotation>
              <s:documentation>
                Elamisloa kehtivus.
              </s:documentation>
            </s:annotation>
          </s:element>
          <s:element minOccurs="1" maxOccurs="1" name="ApplicationTotalPoints" nillable="true" type="s:decimal">
            <s:annotation>
              <s:documentation>
                Avalduse punktid pingereas.
              </s:documentation>
            </s:annotation>
          </s:element>
          <s:element minOccurs="1" maxOccurs="1" name="ApplicationCriteriaPoints" nillable="true" type="s:decimal">
            <s:annotation>
              <s:documentation>
                Avalduse kriteeriumi punktide summa.
              </s:documentation>
            </s:annotation>
          </s:element>
          <s:element minOccurs="1" maxOccurs="1" name="ApplicationExtraPoints" nillable="true" type="s:decimal">
            <s:annotation>
              <s:documentation>
                Pingereas määratud lisapunktid.
              </s:documentation>
            </s:annotation>
          </s:element>
          <s:element minOccurs="1" maxOccurs="1" name="IsTuitionFeeRequired" type="s:boolean">
            <s:annotation>
              <s:documentation>
                Kui avaldus esitatakse tasulisse õppesse, siis väärtus "Jah", tasuta õppe korral "Ei."
              </s:documentation>
            </s:annotation>
          </s:element>
          <s:element minOccurs="1" maxOccurs="1" name="Birthday" nillable="true" type="s:dateTime">
            <s:annotation>
              <s:documentation>
                Kandidaadi sünniaeg.
              </s:documentation>
            </s:annotation>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="BirthPlace" type="s:string">
            <s:annotation>
              <s:documentation>
                Kandidaadi sünnikoht.
              </s:documentation>
            </s:annotation>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string">
            <s:annotation>
              <s:documentation>
                Kandidaadi e-mail.
              </s:documentation>
            </s:annotation>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string">
            <s:annotation>
              <s:documentation>
                Kandidaadi kontakttelefon.
              </s:documentation>
            </s:annotation>
          </s:element>
          <s:element minOccurs="1" maxOccurs="1" name="DateModified" type="s:dateTime">
            <s:annotation>
              <s:documentation>
                Muutmise kuupäev.
              </s:documentation>
            </s:annotation>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="ApplicationStatus" type="tns:SAISClassification">
            <s:annotation>
              <s:documentation>
                Avalduse staatuse klassifikaator.
              </s:documentation>
            </s:annotation>
          </s:element>
          <s:element minOccurs="1" maxOccurs="1" name="IsFullLoad" nillable="true" type="s:boolean">
            <s:annotation>
              <s:documentation>
                Väärtus "jah", kui tegemist täiskoormusega õppijaga, muidu väärtus "ei".
              </s:documentation>
            </s:annotation>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="StudyForm" type="tns:SAISClassification">
            <s:annotation>
              <s:documentation>
                Avalduse õppevormi klassifikaator.
              </s:documentation>
            </s:annotation>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="ApplicationNumber" type="s:string">
            <s:annotation>
              <s:documentation>
                Avalduse number.
              </s:documentation>
            </s:annotation>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="CandidateEducations" type="tns:ArrayOfCandidateEducation">
            <s:annotation>
              <s:documentation>
                Kandidaadi hariduskäigu aluseks valitud hariduskäigu andmed.
              </s:documentation>
            </s:annotation>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="CandidateStateExams" type="tns:ArrayOfCandidateStateExam">
            <s:annotation>
              <s:documentation>
                Kandidaadi riigieksamite tulemused, välastatakse ainult avaldusele tellitud riigieksamid.
              </s:documentation>
            </s:annotation>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="ApplicationFormData" type="tns:ArrayOfApplicationFormData">
            <s:annotation>
              <s:documentation>
                Konkursil seadistatud ja avaldusel valitud lisaväljade andmed.
              </s:documentation>
            </s:annotation>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="CandidateIntLangTests" type="tns:ArrayOfCandidateIntTest">
            <s:annotation>
              <s:documentation>
                Kandidaadi rahvusvaheliste testide info.
              </s:documentation>
            </s:annotation>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="CandidateAddresses" type="tns:ArrayOfCandidateAddress">
            <s:annotation>
              <s:documentation>
                Kandidaadi aadressid
              </s:documentation>
            </s:annotation>
          </s:element>
        </s:sequence>
      </s:complexType>
      <s:complexType name="SAISClassification">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Translations" type="tns:ArrayOfKvp" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s2:guid" />
          <s:element minOccurs="0" maxOccurs="1" name="Value" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Value2" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ClassificationTypeId" type="s2:guid" />
          <s:element minOccurs="0" maxOccurs="1" name="ClassificationTypeName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfKvp">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Kvp" nillable="true" type="tns:Kvp" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Kvp">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Key" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Value" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfCandidateEducation">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CandidateEducation" nillable="true" type="tns:CandidateEducation" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CandidateEducation">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="InstitutionRegNr" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="InstitutionCountry" type="tns:SAISClassification" />
          <s:element minOccurs="1" maxOccurs="1" name="DateModified" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="EhisLevel" type="tns:SAISClassification" />
          <s:element minOccurs="0" maxOccurs="1" name="InstitutionName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StudyFieldCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StudyFieldName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StudyField" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StudyFieldGroup" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CertificateNumber" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="StudyBeginDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="ProjectedStudyEndDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="StudyEndDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="StudyCancelDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="StudyNominalTime" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StudyStatus" type="tns:SAISClassification" />
          <s:element minOccurs="0" maxOccurs="1" name="StudyForm" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StudyFormClassification" type="tns:SAISClassification" />
          <s:element minOccurs="0" maxOccurs="1" name="Commendation" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CommendationClassification" type="tns:SAISClassification" />
          <s:element minOccurs="0" maxOccurs="1" name="FinancingMode" type="tns:SAISClassification" />
          <s:element minOccurs="0" maxOccurs="1" name="StudyLanguage" type="tns:SAISClassification" />
          <s:element minOccurs="0" maxOccurs="1" name="InstitutionCode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="GraduatedAbroad" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="CertificateDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="DateSynced" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="CandidateGrades" type="tns:ArrayOfCandidateGrade" />
          <s:element minOccurs="0" maxOccurs="1" name="CurriculumName" type="tns:ArrayOfKvp" />
          <s:element minOccurs="0" maxOccurs="1" name="CurriculumCode" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfCandidateGrade">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CandidateGrade" nillable="true" type="tns:CandidateGrade" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CandidateGrade">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CurriculumClassification" type="tns:SAISClassification">
            <s:annotation>
              <s:documentation>
                Õppekava klassifikaator.
              </s:documentation>
            </s:annotation>
          </s:element>
          <s:element minOccurs="1" maxOccurs="1" name="DateModified" type="s:dateTime">
            <s:annotation>
              <s:documentation>
                Muutmise kuupäev.
              </s:documentation>
            </s:annotation>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="CurriculumCode" type="s:string">
            <s:annotation>
              <s:documentation>
                Õppekava kood.
              </s:documentation>
            </s:annotation>
          </s:element>
          <s:element minOccurs="1" maxOccurs="1" name="Grade" nillable="true" type="s:int">
            <s:annotation>
              <s:documentation>
                Hinne.
              </s:documentation>
            </s:annotation>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="SpecificationCode" type="s:string">
            <s:annotation>
              <s:documentation>
                Lõpuhinne täpsustuse kood.
              </s:documentation>
            </s:annotation>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="Specification" type="s:string">
            <s:annotation>
              <s:documentation>
                Lõpuhinnete täpsustus.
              </s:documentation>
            </s:annotation>
          </s:element>
          <s:element minOccurs="1" maxOccurs="1" name="IsRequired" type="s:boolean">
            <s:annotation>
              <s:documentation>
                Välja väärtus "jah" kui aine on kohustuslik, "ei" kui tegemist vabaainega. Ehisest tuleb tähis "K".
              </s:documentation>
            </s:annotation>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="RawGrade" type="s:string">
            <s:annotation>
              <s:documentation>
                Hinne koos sõnalise selgitusega.
              </s:documentation>
            </s:annotation>
          </s:element>
          <s:element minOccurs="1" maxOccurs="1" name="ReplacedResult" nillable="true" type="s:int">
            <s:annotation>
              <s:documentation>
                Hinde asendustulemus.
              </s:documentation>
            </s:annotation>
          </s:element>
          <s:element minOccurs="1" maxOccurs="1" name="IsImported" nillable="true" type="s:boolean">
            <s:annotation>
              <s:documentation>
                Kui andmed pärinevad registrist, siis tunnus "Jah", vastasel juhul "Ei".
              </s:documentation>
            </s:annotation>
          </s:element>
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfCandidateStateExam">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CandidateStateExam" nillable="true" type="tns:CandidateStateExam" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CandidateStateExam">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="StateExamClassification" type="tns:SAISClassification">
            <s:annotation>
              <s:documentation>
                Eksami tüübi klassifikaator.
              </s:documentation>
            </s:annotation>
          </s:element>
          <s:element minOccurs="1" maxOccurs="1" name="DateModified" type="s:dateTime">
            <s:annotation>
              <s:documentation>
                Muutmise kuupäev.
              </s:documentation>
            </s:annotation>
          </s:element>
          <s:element minOccurs="1" maxOccurs="1" name="Result" type="s:int">
            <s:annotation>
              <s:documentation>
               Riigieksami tulemus.
              </s:documentation>
            </s:annotation>
          </s:element>
          <s:element minOccurs="1" maxOccurs="1" name="JointPosition" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ReplacedResult" nillable="true" type="s:int">
            <s:annotation>
              <s:documentation>
                Riigieksami asendustulemus.
              </s:documentation>
            </s:annotation>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="LanguageSkillLevel" type="s:string">
            <s:annotation>
              <s:documentation>
                Riigieksami keeletase.
              </s:documentation>
            </s:annotation>
          </s:element>
          <s:element minOccurs="1" maxOccurs="1" name="JointPartResult" nillable="true" type="s:int">
            <s:annotation>
              <s:documentation>
                Riigieksami ühisosa tulemus.
              </s:documentation>
            </s:annotation>
          </s:element>
          <s:element minOccurs="1" maxOccurs="1" name="JointPartPosition" nillable="true" type="s:int">
            <s:annotation>
              <s:documentation>
                Riigieksami ühisosa positsioon.
              </s:documentation>
            </s:annotation>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="CertificateNumber" type="s:string">
            <s:annotation>
              <s:documentation>
                Diplomi number, millal riigieksam sooritatud.
              </s:documentation>
            </s:annotation>
          </s:element>
          <s:element minOccurs="1" maxOccurs="1" name="CertificateDate" nillable="true" type="s:dateTime">
            <s:annotation>
              <s:documentation>
                Riigieksami diplomi väljastamise kuupäev.
              </s:documentation>
            </s:annotation>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="StateExamCode" type="s:string">
            <s:annotation>
              <s:documentation>
                Riigieksami kood.
              </s:documentation>
            </s:annotation>
          </s:element>
          <s:element minOccurs="1" maxOccurs="1" name="IsImported" nillable="true" type="s:boolean">
            <s:annotation>
              <s:documentation>
                Märgistus, kas riigieksami tulemused päringevad registrist või mitte. Jah/ei.
              </s:documentation>
            </s:annotation>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="Course" type="s:string">
            <s:annotation>
              <s:documentation>
                Kursuse nimetus.
              </s:documentation>
            </s:annotation>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="Language" type="s:string">
            <s:annotation>
              <s:documentation>
                Kursuse sooritamise keel.
              </s:documentation>
            </s:annotation>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="LanguageCode" type="s:string">
            <s:annotation>
              <s:documentation>
                Sooritamise keele kood.
              </s:documentation>
            </s:annotation>
          </s:element>
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfApplicationFormData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ApplicationFormData" nillable="true" type="tns:ApplicationFormData" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ApplicationFormData">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="DateModified" type="s:dateTime">
            <s:annotation>
              <s:documentation>
                Kirjelduse muutmise kuupäev.
              </s:documentation>
            </s:annotation>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="FieldName" type="tns:ArrayOfKvp">
            <s:annotation>
              <s:documentation>
                Avaldusele lisatud lisavälja nimetus.
              </s:documentation>
            </s:annotation>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="FieldCode" type="s:string">
            <s:annotation>
              <s:documentation>
                Avaldusele lisatud lisavälja kood.
              </s:documentation>
            </s:annotation>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="Value" type="s:string">
            <s:annotation>
             <s:documentation>
               Avaldusele lisatud lisavälja tekst.
             </s:documentation>
            </s:annotation>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="SelectedOptions" type="tns:ArrayOfFormFieldOption">
            <s:annotation>
              <s:documentation>
                Avaldusel valitud lisavälja väärtused.
              </s:documentation>
            </s:annotation>
          </s:element>
          <s:element minOccurs="1" maxOccurs="1" name="FieldType" type="s:int">
            <s:annotation>
              <s:documentation>
                Avaldusele lisatud lisavälja tüüp.
              </s:documentation>
            </s:annotation>
          </s:element>
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfFormFieldOption">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="FormFieldOption" type="tns:FormFieldOption" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="FormFieldOption">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="tns:ArrayOfKvp" />
          <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfCandidateIntTest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CandidateIntTest" nillable="true" type="tns:CandidateIntTest" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CandidateIntTest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CertificateName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LanguageLevel" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Date" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Result" nillable="true" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="ResultType" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MaxResult" nillable="true" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="LevelCode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LevelMin" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="LevelMax" nillable="true" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="InternationalTestName" type="tns:SAISClassification" />
          <s:element minOccurs="0" maxOccurs="1" name="CandidateIntTestResults" type="tns:ArrayOfCandidateIntTestResult" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfCandidateIntTestResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CandidateIntTestResult" nillable="true" type="tns:CandidateIntTestResult" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CandidateIntTestResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Result" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="MaxResult" nillable="true" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="LevelCode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LevelMin" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="LevelMax" nillable="true" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfCandidateAddress">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CandidateAddress" nillable="true" type="tns:CandidateAddress" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CandidateAddress">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="AddressType" type="tns:SAISClassification">
            <s:annotation>
              <s:documentation>
                Addressitüübi kirjeldus.
              </s:documentation>
            </s:annotation>
          </s:element>
          <s:element minOccurs="1" maxOccurs="1" name="DateModified" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Country" type="tns:SAISClassification">
            <s:annotation>
              <s:documentation>
                Riik.
              </s:documentation>
            </s:annotation>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="County" type="s:string">
            <s:annotation>
              <s:documentation>
                Maakond
              </s:documentation>
            </s:annotation>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="Parish" type="s:string" >
            <s:annotation>
              <s:documentation>
                Vald
              </s:documentation>
            </s:annotation>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" >
            <s:annotation>
              <s:documentation>
                Linn
              </s:documentation>
            </s:annotation>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="PlaceOrCityPart" type="s:string" >
            <s:annotation>
              <s:documentation>
                Asula või linnaosa.
              </s:documentation>
            </s:annotation>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="Street" type="s:string">
            <s:annotation>
              <s:documentation>
                Tänav
              </s:documentation>
            </s:annotation>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="House" type="s:string" >
            <s:annotation>
              <s:documentation>
                Maja number
              </s:documentation>
            </s:annotation>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="Apartment" type="s:string">
            <s:annotation>
              <s:documentation>
                Korteri number
              </s:documentation>
            </s:annotation>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string">
            <s:annotation>
              <s:documentation>
                Aadress
              </s:documentation>
            </s:annotation>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="Postalcode" type="s:string" >
            <s:annotation>
              <s:documentation>
                Sihtnumber
              </s:documentation>
            </s:annotation>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="AdsAddressCode" type="s:string" >
            <s:annotation>
              <s:documentation>
                Aadressikood ADS andmebaasis
              </s:documentation>
            </s:annotation>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="AdsOid" type="s:string" >
            <s:annotation>
              <s:documentation>
                Aadressiobjekti identifikaator (ADS OID) ADS andmebaasis
              </s:documentation>
            </s:annotation>
          </s:element>
        </s:sequence>
      </s:complexType>
      <s:element name="AllApplicationsExport">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="request" nillable="true" type="tns:AllAppsExportRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="AllAppsExportRequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="InstitutionRegCodes" type="tns:ArrayOfInt" />
          <s:element minOccurs="1" maxOccurs="1" name="AdmissionId" nillable="true" type="s2:guid" />
          <s:element minOccurs="1" maxOccurs="1" name="StatusChangeDateFrom" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="StatusChangeDateTo" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="IdCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StudyLevel" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ApplicationStatusValues" type="tns:ArrayOfString" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfInt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="int" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="AllApplicationsExportResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="request" nillable="true" type="tns:AllAppsExportRequest" />
            <s:element minOccurs="0" maxOccurs="1" name="response" type="tns:AppExportResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AdmissionsExport">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="request" nillable="true" type="tns:AdmissionExportRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="AdmissionExportRequest">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="CreateDateFrom" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="CreateDateTo" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="ModifyDateFrom" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="ModifyDateTo" nillable="true" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="AdmissionsExportResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="request" nillable="true" type="tns:AdmissionExportRequest" />
            <s:element minOccurs="0" maxOccurs="1" name="response" type="tns:AdmissionExportResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="AdmissionExportResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Admissions" type="tns:ArrayOfAdmission" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfAdmission">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Admission" nillable="true" type="tns:Admission" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Admission">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s2:guid" />
          <s:element minOccurs="1" maxOccurs="1" name="DateCreated" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="DateModified" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="tns:ArrayOfKvp" />
          <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="RootInstitutionId" nillable="true" type="s2:guid" />
          <s:element minOccurs="0" maxOccurs="1" name="RootInstitutionCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="InstitutionCode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="InstitutionId" type="s2:guid" />
          <s:element minOccurs="1" maxOccurs="1" name="AdmissionPeriodId" nillable="true" type="s2:guid" />
          <s:element minOccurs="1" maxOccurs="1" name="AdmissionPeriodStart" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="AdmissionPeriodEnd" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="EHISStudyLevel" type="tns:SAISClassification" />
          <s:element minOccurs="0" maxOccurs="1" name="StudyForms" type="tns:ArrayOfSAISClassification" />
          <s:element minOccurs="0" maxOccurs="1" name="CurriculumLanguages" type="tns:ArrayOfSAISClassification" />
          <s:element minOccurs="0" maxOccurs="1" name="Curriculums" type="tns:ArrayOfAdmissionCurriculum" />
          <s:element minOccurs="0" maxOccurs="1" name="StudyLocationCountry" type="tns:SAISClassification" />
          <s:element minOccurs="0" maxOccurs="1" name="StudyLocationCity" type="tns:ArrayOfKvp" />
          <s:element minOccurs="0" maxOccurs="1" name="AdmissionTuitions" type="tns:ArrayOfAdmissionTuition" />
          <s:element minOccurs="1" maxOccurs="1" name="IsPartialLoad" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="IsFullLoad" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="AdmissionCount" nillable="true" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfSAISClassification">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SAISClassification" nillable="true" type="tns:SAISClassification" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfAdmissionCurriculum">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="AdmissionCurriculum" nillable="true" type="tns:AdmissionCurriculum" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="AdmissionCurriculum">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s2:guid" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="tns:ArrayOfKvp" />
          <s:element minOccurs="1" maxOccurs="1" name="EHISCode" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfAdmissionTuition">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="AdmissionTuition" nillable="true" type="tns:AdmissionTuition" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="AdmissionTuition">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s2:guid" />
          <s:element minOccurs="1" maxOccurs="1" name="IsFree" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Currency" type="tns:SAISClassification" />
          <s:element minOccurs="1" maxOccurs="1" name="Amount" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="TuitionType" type="tns:SAISClassification" />
          <s:element minOccurs="0" maxOccurs="1" name="Descripiton" type="tns:ArrayOfKvp" />
          <s:element minOccurs="1" maxOccurs="1" name="IsFullLoad" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="AllAdmissionsExport">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="request" nillable="true" type="tns:AllAdmissionsExportRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="AllAdmissionsExportRequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="InstitutionRegCodes" type="tns:ArrayOfInt" />
          <s:element minOccurs="1" maxOccurs="1" name="CreateDateFrom" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="CreateDateTo" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="ModifyDateFrom" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="ModifyDateTo" nillable="true" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="AllAdmissionsExportResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="request" nillable="true" type="tns:AllAdmissionsExportRequest" />
            <s:element minOccurs="0" maxOccurs="1" name="response" type="tns:AdmissionExportResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ApplicationsImport">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="request" nillable="true" type="tns:AppImportRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="AppImportRequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Applications" type="tns:ArrayOfImportApp" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfImportApp">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ImportApp" nillable="true" type="tns:ImportApp" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ImportApp">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ApplicationId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="InstitutionRegCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IdCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OtherIdCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Sex" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Birthday" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="CountryCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CitizenshipCountryCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ResidencyPermitNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ResidencyPermitCode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ResidencyPermitExpireDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Postalcode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="AdmissionId" type="s2:guid" />
          <s:element minOccurs="1" maxOccurs="1" name="AdmissionTuitionId" nillable="true" type="s2:guid" />
          <s:element minOccurs="0" maxOccurs="1" name="StudyFormCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ApplicationNumber" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsFullLoad" nillable="false" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="CandidateEducations" type="tns:ArrayOfCandidateEducationItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfCandidateEducationItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CandidateEducationItem" nillable="true" type="tns:CandidateEducationItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CandidateEducationItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="InstitutionName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="InstitutionCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="InstitutionCountryCode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="StudyBeginDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="StudyEndDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="EhisStudyLevelCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StudyLanguageCode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CommendationCode" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="FinancingModeCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CertificateNumber" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CertificateDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="StudyStatusCode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="UseForAdmission" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="ApplicationsImportResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="request" nillable="true" type="tns:AppImportRequest" />
            <s:element minOccurs="0" maxOccurs="1" name="response" type="tns:AppImportResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="AppImportResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Results" type="tns:ArrayOfIdPair" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfIdPair">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="IdPair" nillable="true" type="tns:IdPair" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="IdPair">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ImportId" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SaisId" type="s2:guid" />
        </s:sequence>
      </s:complexType>
      <s:element name="ClassificationsExport">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="request" nillable="true" type="tns:EmptyParameters" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="EmptyParameters" />
      <s:element name="ClassificationsExportResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="request" nillable="true" type="tns:EmptyParameters" />
            <s:element minOccurs="0" maxOccurs="1" name="response" type="tns:ClassificationExport" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ClassificationExport">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ClassificationTypes" type="tns:ArrayOfClassificationTypeItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfClassificationTypeItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ClassificationTypeItem" nillable="true" type="tns:ClassificationTypeItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ClassificationTypeItem">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s2:guid" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Classifications" type="tns:ArrayOfClassificationItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfClassificationItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ClassificationItem" nillable="true" type="tns:ClassificationItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ClassificationItem">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s2:guid" />
          <s:element minOccurs="1" maxOccurs="1" name="ClassificationTypeId" type="s2:guid" />
          <s:element minOccurs="0" maxOccurs="1" name="Value" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Weight" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IsActive" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="IsImported" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Translation" type="tns:ArrayOfKvp" />
          <s:element minOccurs="0" maxOccurs="1" name="DescriptionTranslation" type="tns:ArrayOfKvp" />
          <s:element minOccurs="0" maxOccurs="1" name="Value2" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="DismissApplication">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="request" nillable="true" type="tns:AppDismissRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="AppDismissRequest">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ApplicationId" type="s2:guid" />
        </s:sequence>
      </s:complexType>
      <s:element name="DismissApplicationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="request" nillable="true" type="tns:AppDismissRequest" />
            <s:element minOccurs="0" maxOccurs="1" name="response" type="tns:AppDismissResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="AppDismissResponse">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IsDismissed" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="AppStatusExport">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="request" nillable="true" type="tns:AppStatusExportRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="AppStatusExportRequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ApplicationIdList" type="tns:ArrayOfGuid" />
          <s:element minOccurs="1" maxOccurs="1" name="StatusChangeDateFrom" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="StatusChangeDateTo" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="ApplicationStatusValues" type="tns:ArrayOfString" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfGuid">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="guid" type="s2:guid" />
        </s:sequence>
      </s:complexType>
      <s:element name="AppStatusExportResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="request" nillable="true" type="tns:AppStatusExportRequest" />
            <s:element minOccurs="0" maxOccurs="1" name="response" type="tns:AppStatusExportResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="AppStatusExportResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ApplicationStatuses" type="tns:ArrayOfApplicationStatus" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfApplicationStatus">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ApplicationStatus" nillable="true" type="tns:ApplicationStatus" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ApplicationStatus">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ApplicationId" type="s2:guid" />
          <s:element minOccurs="0" maxOccurs="1" name="Status" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="AppFilesExport">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="request" nillable="true" type="tns:AppFilesRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="AppFilesRequest">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="AdmissionId" nillable="true" type="s2:guid" />
          <s:element minOccurs="1" maxOccurs="1" name="StatusChangeDateFrom" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="StatusChangeDateTo" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="IdCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StudyLevel" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ApplicationStatusValues" type="tns:ArrayOfString" />
        </s:sequence>
      </s:complexType>
      <s:element name="AppFilesExportResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="request" nillable="true" type="tns:AppFilesRequest" />
            <s:element minOccurs="0" maxOccurs="1" name="response" type="tns:AppFilesResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="AppFilesResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="FileList" type="tns:ArrayOfApplicationFile" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfApplicationFile">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ApplicationFile" nillable="true" type="tns:ApplicationFile" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ApplicationFile">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ApplicationId" type="s2:guid" />
          <s:element minOccurs="1" maxOccurs="1" name="FileId" type="s2:guid" />
          <s:element minOccurs="0" maxOccurs="1" name="Data" type="s:base64Binary" />
          <s:element minOccurs="0" maxOccurs="1" name="FileName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="AllAppFilesExport">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="request" nillable="true" type="tns:AllAppsExportRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AllAppFilesExportResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="request" nillable="true" type="tns:AllAppsExportRequest" />
            <s:element minOccurs="0" maxOccurs="1" name="response" type="tns:AppFilesResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="requestHeader">
        <wsdl:part name="producer" element="xrd:producer" />
        <wsdl:part name="consumer" element="xrd:consumer" />
        <wsdl:part name="client" element="xrd:client" />
        <wsdl:part name="service" element="xrd:service" />
        <wsdl:part name="id" element="xrd:id" />
        <wsdl:part name="userId" element="xrd:userId" />
        <wsdl:part name="issue" element="xrd:issue" />
        <wsdl:part name="protocolVersion" element="xrd:protocolVersion" />
  </wsdl:message>
  <wsdl:message name="listMethodsSoapIn">
    <wsdl:part name="parameters" element="xrd:listMethods" />
  </wsdl:message>
  <wsdl:message name="listMethodsSoapOut">
    <wsdl:part name="parameters" element="xrd:listMethodsResponse" />
  </wsdl:message>
  <wsdl:message name="testSystemSoapIn">
    <wsdl:part name="parameters" element="xrd:testSystem" />
  </wsdl:message>
  <wsdl:message name="testSystemSoapOut">
    <wsdl:part name="parameters" element="xrd:testSystemResponse" />
  </wsdl:message>
  <wsdl:message name="ApplicationsExportSoapIn">
    <wsdl:part name="parameters" element="tns:ApplicationsExport" />
  </wsdl:message>
  <wsdl:message name="ApplicationsExportSoapOut">
    <wsdl:part name="parameters" element="tns:ApplicationsExportResponse" />
  </wsdl:message>
  <wsdl:message name="AllApplicationsExportSoapIn">
    <wsdl:part name="parameters" element="tns:AllApplicationsExport" />
  </wsdl:message>
  <wsdl:message name="AllApplicationsExportSoapOut">
    <wsdl:part name="parameters" element="tns:AllApplicationsExportResponse" />
  </wsdl:message>
  <wsdl:message name="AdmissionsExportSoapIn">
    <wsdl:part name="parameters" element="tns:AdmissionsExport" />
  </wsdl:message>
  <wsdl:message name="AdmissionsExportSoapOut">
    <wsdl:part name="parameters" element="tns:AdmissionsExportResponse" />
  </wsdl:message>
  <wsdl:message name="AllAdmissionsExportSoapIn">
    <wsdl:part name="parameters" element="tns:AllAdmissionsExport" />
  </wsdl:message>
  <wsdl:message name="AllAdmissionsExportSoapOut">
    <wsdl:part name="parameters" element="tns:AllAdmissionsExportResponse" />
  </wsdl:message>
  <wsdl:message name="ApplicationsImportSoapIn">
    <wsdl:part name="parameters" element="tns:ApplicationsImport" />
  </wsdl:message>
  <wsdl:message name="ApplicationsImportSoapOut">
    <wsdl:part name="parameters" element="tns:ApplicationsImportResponse" />
  </wsdl:message>
  <wsdl:message name="ClassificationsExportSoapIn">
    <wsdl:part name="parameters" element="tns:ClassificationsExport" />
  </wsdl:message>
  <wsdl:message name="ClassificationsExportSoapOut">
    <wsdl:part name="parameters" element="tns:ClassificationsExportResponse" />
  </wsdl:message>
  <wsdl:message name="DismissApplicationSoapIn">
    <wsdl:part name="parameters" element="tns:DismissApplication" />
  </wsdl:message>
  <wsdl:message name="DismissApplicationSoapOut">
    <wsdl:part name="parameters" element="tns:DismissApplicationResponse" />
  </wsdl:message>
  <wsdl:message name="AppStatusExportSoapIn">
    <wsdl:part name="parameters" element="tns:AppStatusExport" />
  </wsdl:message>
  <wsdl:message name="AppStatusExportSoapOut">
    <wsdl:part name="parameters" element="tns:AppStatusExportResponse" />
  </wsdl:message>
  <wsdl:message name="AppFilesExportSoapIn">
    <wsdl:part name="parameters" element="tns:AppFilesExport" />
  </wsdl:message>
  <wsdl:message name="AppFilesExportSoapOut">
    <wsdl:part name="parameters" element="tns:AppFilesExportResponse" />
  </wsdl:message>
  <wsdl:message name="AllAppFilesExportSoapIn">
    <wsdl:part name="parameters" element="tns:AllAppFilesExport" />
  </wsdl:message>
  <wsdl:message name="AllAppFilesExportSoapOut">
    <wsdl:part name="parameters" element="tns:AllAppFilesExportResponse" />
  </wsdl:message>
  <wsdl:portType name="XRoadSoap">
    <wsdl:operation name="listMethods">
      <wsdl:input message="tns:listMethodsSoapIn" />
      <wsdl:output message="tns:listMethodsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="testSystem">
      <wsdl:input message="tns:testSystemSoapIn" />
      <wsdl:output message="tns:testSystemSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ApplicationsExport">
      <wsdl:input message="tns:ApplicationsExportSoapIn" />
      <wsdl:output message="tns:ApplicationsExportSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AllApplicationsExport">
      <wsdl:input message="tns:AllApplicationsExportSoapIn" />
      <wsdl:output message="tns:AllApplicationsExportSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AdmissionsExport">
      <wsdl:input message="tns:AdmissionsExportSoapIn" />
      <wsdl:output message="tns:AdmissionsExportSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AllAdmissionsExport">
      <wsdl:input message="tns:AllAdmissionsExportSoapIn" />
      <wsdl:output message="tns:AllAdmissionsExportSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ApplicationsImport">
      <wsdl:input message="tns:ApplicationsImportSoapIn" />
      <wsdl:output message="tns:ApplicationsImportSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ClassificationsExport">
      <wsdl:input message="tns:ClassificationsExportSoapIn" />
      <wsdl:output message="tns:ClassificationsExportSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DismissApplication">
      <wsdl:input message="tns:DismissApplicationSoapIn" />
      <wsdl:output message="tns:DismissApplicationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AppStatusExport">
      <wsdl:input message="tns:AppStatusExportSoapIn" />
      <wsdl:output message="tns:AppStatusExportSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AppFilesExport">
      <wsdl:input message="tns:AppFilesExportSoapIn" />
      <wsdl:output message="tns:AppFilesExportSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AllAppFilesExport">
      <wsdl:input message="tns:AllAppFilesExportSoapIn" />
      <wsdl:output message="tns:AllAppFilesExportSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="XRoadSoap" type="tns:XRoadSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="listMethods">
      <soap:operation soapAction="http://sais2.x-road.ee/producer/listMethods" style="document" />
      <wsdl:input>
        <soap:header message="tns:requestHeader" part="consumer" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:requestHeader" part="producer" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:requestHeader" part="userId" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:requestHeader" part="id" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:requestHeader" part="service" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:requestHeader" part="consumer" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:requestHeader" part="producer" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:requestHeader" part="userId" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:requestHeader" part="id" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:requestHeader" part="service" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="testSystem">
      <soap:operation soapAction="http://sais2.x-road.ee/producer/testSystem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:requestHeader" part="consumer" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:requestHeader" part="producer" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:requestHeader" part="userId" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:requestHeader" part="id" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:requestHeader" part="service" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:requestHeader" part="consumer" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:requestHeader" part="producer" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:requestHeader" part="userId" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:requestHeader" part="id" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:requestHeader" part="service" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ApplicationsExport">
      <soap:operation soapAction="http://sais2.x-road.ee/producer/ApplicationsExport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:requestHeader" part="consumer" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:requestHeader" part="producer" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:requestHeader" part="userId" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:requestHeader" part="id" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:requestHeader" part="service" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:requestHeader" part="consumer" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:requestHeader" part="producer" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:requestHeader" part="userId" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:requestHeader" part="id" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:requestHeader" part="service" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AllApplicationsExport">
      <soap:operation soapAction="http://sais2.x-road.ee/producer/AllApplicationsExport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:requestHeader" part="consumer" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:requestHeader" part="producer" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:requestHeader" part="userId" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:requestHeader" part="id" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:requestHeader" part="service" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:requestHeader" part="consumer" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:requestHeader" part="producer" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:requestHeader" part="userId" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:requestHeader" part="id" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:requestHeader" part="service" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AdmissionsExport">
      <soap:operation soapAction="http://sais2.x-road.ee/producer/AdmissionsExport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:requestHeader" part="consumer" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:requestHeader" part="producer" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:requestHeader" part="userId" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:requestHeader" part="id" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:requestHeader" part="service" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:requestHeader" part="consumer" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:requestHeader" part="producer" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:requestHeader" part="userId" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:requestHeader" part="id" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:requestHeader" part="service" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AllAdmissionsExport">
      <soap:operation soapAction="http://sais2.x-road.ee/producer/AllAdmissionsExport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:requestHeader" part="consumer" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:requestHeader" part="producer" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:requestHeader" part="userId" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:requestHeader" part="id" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:requestHeader" part="service" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:requestHeader" part="consumer" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:requestHeader" part="producer" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:requestHeader" part="userId" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:requestHeader" part="id" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:requestHeader" part="service" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ApplicationsImport">
      <soap:operation soapAction="http://sais2.x-road.ee/producer/ApplicationsImport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:requestHeader" part="consumer" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:requestHeader" part="producer" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:requestHeader" part="userId" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:requestHeader" part="id" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:requestHeader" part="service" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:requestHeader" part="consumer" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:requestHeader" part="producer" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:requestHeader" part="userId" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:requestHeader" part="id" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:requestHeader" part="service" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClassificationsExport">
      <soap:operation soapAction="http://sais2.x-road.ee/producer/ClassificationsExport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:requestHeader" part="consumer" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:requestHeader" part="producer" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:requestHeader" part="userId" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:requestHeader" part="id" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:requestHeader" part="service" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:requestHeader" part="consumer" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:requestHeader" part="producer" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:requestHeader" part="userId" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:requestHeader" part="id" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:requestHeader" part="service" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DismissApplication">
      <soap:operation soapAction="http://sais2.x-road.ee/producer/DismissApplication" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:requestHeader" part="consumer" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:requestHeader" part="producer" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:requestHeader" part="userId" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:requestHeader" part="id" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:requestHeader" part="service" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:requestHeader" part="consumer" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:requestHeader" part="producer" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:requestHeader" part="userId" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:requestHeader" part="id" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:requestHeader" part="service" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AppStatusExport">
      <soap:operation soapAction="http://sais2.x-road.ee/producer/AppStatusExport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:requestHeader" part="consumer" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:requestHeader" part="producer" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:requestHeader" part="userId" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:requestHeader" part="id" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:requestHeader" part="service" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:requestHeader" part="consumer" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:requestHeader" part="producer" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:requestHeader" part="userId" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:requestHeader" part="id" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:requestHeader" part="service" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AppFilesExport">
      <soap:operation soapAction="http://sais2.x-road.ee/producer/AppFilesExport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:requestHeader" part="consumer" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:requestHeader" part="producer" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:requestHeader" part="userId" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:requestHeader" part="id" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:requestHeader" part="service" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:requestHeader" part="consumer" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:requestHeader" part="producer" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:requestHeader" part="userId" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:requestHeader" part="id" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:requestHeader" part="service" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AllAppFilesExport">
      <soap:operation soapAction="http://sais2.x-road.ee/producer/AllAppFilesExport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:requestHeader" part="consumer" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:requestHeader" part="producer" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:requestHeader" part="userId" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:requestHeader" part="id" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:requestHeader" part="service" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:requestHeader" part="consumer" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:requestHeader" part="producer" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:requestHeader" part="userId" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:requestHeader" part="id" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        <soap:header message="tns:requestHeader" part="service" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="XRoad">
    <wsdl:port name="XRoadSoap" binding="tns:XRoadSoap">
      <soap:address location="http://localhost:48752/XRoad/XRoad.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>