hois_ws/src/main/resources/wsdl/rtip/Z_EMPLOEES.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://rtk-v6.x-road.eu"
        xmlns:xrd="http://x-road.eu/xsd/xroad.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://rtk-v6.x-road.eu">
    <wsdl:types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://rtk-v6.x-road.eu">
            <import namespace="http://x-road.eu/xsd/xroad.xsd" schemaLocation="http://x-road.eu/xsd/xroad.xsd"/>

			<!-- element declarations -->
			

			<element name="Z_EMPLOEES" type="tns:Z_EMPLOEESType"/>
			<element name="Z_EMPLOEESResponse" type="tns:Z_EMPLOEESResponseType"/>

			<!-- request type declarations -->
			
            <complexType name="Z_EMPLOEESType">
				<sequence>
					<element name="keha" type="tns:Z_EMPLOEESRequestType" />
				</sequence>
			</complexType>

			<!-- type declarations -->

		
			<!-- Z_EMPLOEES -->

			<xsd:complexType name="Z_EMPLOEESRequestType">
				<xsd:all>
					<xsd:element
						name="COMPANYCODE"
						minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo>
								<xrd:title>COMPANYCODE</xrd:title>
							</xsd:appinfo>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="4" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element
						name="DATE_FROM"
						minOccurs="0"
						type="xsd:date">
						<xsd:annotation>
							<xsd:appinfo>
								<xrd:title>DATE_FROM</xrd:title>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element
						name="DATE_TO"
						minOccurs="0"
						type="xsd:date">
						<xsd:annotation>
							<xsd:appinfo>
								<xrd:title>DATE_TO</xrd:title>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="LAHKUJAD">
						<xsd:annotation>
							<xsd:appinfo>
								<xrd:title>LAHKUJAD</xrd:title>
							</xsd:appinfo>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element
									name="item"
									minOccurs="0"
									maxOccurs="unbounded"
									type="tns:ZLEAVERS" />
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="PUUDUMINE">
						<xsd:annotation>
							<xsd:appinfo>
								<xrd:title>PUUDUMINE</xrd:title>
							</xsd:appinfo>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element
									name="item"
									minOccurs="0"
									maxOccurs="unbounded"
									type="tns:ZABSENCE" />
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="TOOTAJAD">
						<xsd:annotation>
							<xsd:appinfo>
								<xrd:title>TOOTAJAD</xrd:title>
							</xsd:appinfo>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element
									name="item"
									minOccurs="0"
									maxOccurs="unbounded"
									type="tns:ZEMPLOEE1" />
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="Z_EMPLOEESResponseType">
				<xsd:all>
					<xsd:element name="LAHKUJAD">
						<xsd:annotation>
							<xsd:appinfo>
								<xrd:title>LAHKUJAD</xrd:title>
							</xsd:appinfo>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element
									name="item"
									minOccurs="0"
									maxOccurs="unbounded"
									type="tns:ZLEAVERS" />
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="PUUDUMINE">
						<xsd:annotation>
							<xsd:appinfo>
								<xrd:title>PUUDUMINE</xrd:title>
							</xsd:appinfo>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element
									name="item"
									minOccurs="0"
									maxOccurs="unbounded"
									type="tns:ZABSENCE" />
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="TOOTAJAD">
						<xsd:annotation>
							<xsd:appinfo>
								<xrd:title>TOOTAJAD</xrd:title>
							</xsd:appinfo>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element
									name="item"
									minOccurs="0"
									maxOccurs="unbounded"
									type="tns:ZEMPLOEE1" />
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
				</xsd:all>
			</xsd:complexType>

			<xsd:complexType name="ZLEAVERS">
				<xsd:sequence>
					<xsd:element
						name="PERNR"
						minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo>
								<xrd:title>PERNR</xrd:title>
							</xsd:appinfo>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="8" />
								<xsd:pattern value="\d*" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="ZABSENCE">
				<xsd:sequence>
					<xsd:element
						name="PERNR"
						minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo>
								<xrd:title>PERNR</xrd:title>
							</xsd:appinfo>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="8" />
								<xsd:pattern value="\d*" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element
						name="PLANS"
						minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo>
								<xrd:title>PLANS</xrd:title>
							</xsd:appinfo>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="8" />
								<xsd:pattern value="\d*" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element
						name="ATEXT"
						minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo>
								<xrd:title>ATEXT</xrd:title>
							</xsd:appinfo>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="40" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element
						name="BEGDA"
						minOccurs="0"
						type="xsd:date">
						<xsd:annotation>
							<xsd:appinfo>
								<xrd:title>BEGDA</xrd:title>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element
						name="ENDDA"
						minOccurs="0"
						type="xsd:date">
						<xsd:annotation>
							<xsd:appinfo>
								<xrd:title>ENDDA</xrd:title>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element
						name="VORNA"
						minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo>
								<xrd:title>VORNA</xrd:title>
							</xsd:appinfo>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="25" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element
						name="NACHN"
						minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo>
								<xrd:title>NACH</xrd:title>
							</xsd:appinfo>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="25" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element
						name="COUNTRY"
						minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo>
								<xrd:title>COUNTRY</xrd:title>
							</xsd:appinfo>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="25" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element
						name="CITY"
						minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo>
								<xrd:title>CITY</xrd:title>
							</xsd:appinfo>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="25" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element
						name="APERNR"
						minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo>
								<xrd:title>Asendaja personali number</xrd:title>
							</xsd:appinfo>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="8" />
								<xsd:pattern value="\d*" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ZEMPLOEE1">
				<xsd:sequence>
					<xsd:element
						name="PERNR"
						minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo>
								<xrd:title>PERNR</xrd:title>
							</xsd:appinfo>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="8" />
								<xsd:pattern value="\d*" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element
						name="VORNA"
						minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo>
								<xrd:title>VORNA</xrd:title>
							</xsd:appinfo>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="25" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element
						name="NACHN"
						minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo>
								<xrd:title>NACHN</xrd:title>
							</xsd:appinfo>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="25" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element
						name="LAUATELEFON"
						minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo>
								<xrd:title>LAUATELEFON</xrd:title>
							</xsd:appinfo>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="14" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element
						name="MOBIIL"
						minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo>
								<xrd:title>MOBIIL</xrd:title>
							</xsd:appinfo>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="20" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element
						name="KORRUS"
						minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo>
								<xrd:title>KORRUS</xrd:title>
							</xsd:appinfo>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="5" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element
						name="RUUM"
						minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo>
								<xrd:title>RUUM</xrd:title>
							</xsd:appinfo>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="5" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element
						name="EMAIL"
						minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo>
								<xrd:title>EMAIL</xrd:title>
							</xsd:appinfo>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="50" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element
						name="HARIDUS"
						minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo>
								<xrd:title>HARIDUS</xrd:title>
							</xsd:appinfo>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="40" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element
						name="ERIALA"
						minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo>
								<xrd:title>ERIALA</xrd:title>
							</xsd:appinfo>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="70" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element
						name="PEALIK"
						minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo>
								<xrd:title>PEALIK</xrd:title>
							</xsd:appinfo>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="1" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element
						name="AJUH"
						minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo>
								<xrd:title>AJUH</xrd:title>
							</xsd:appinfo>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="20" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element
						name="IKOOD"
						minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo>
								<xrd:title>IKOOD</xrd:title>
							</xsd:appinfo>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="11" />
								<xsd:pattern value="\d*" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element
						name="FAX"
						minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo>
								<xrd:title>FAX</xrd:title>
							</xsd:appinfo>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="14" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element
						name="LINN"
						minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo>
								<xrd:title>LINN</xrd:title>
							</xsd:appinfo>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="35" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element
						name="TANAV"
						minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo>
								<xrd:title>TANAV</xrd:title>
							</xsd:appinfo>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="35" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element
						name="ORGUNIT"
						minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo>
								<xrd:title>ORGUNIT</xrd:title>
							</xsd:appinfo>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="10" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element
						name="PLSTX"
						minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo>
								<xrd:title>PLSTX</xrd:title>
							</xsd:appinfo>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="40" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element
						name="ORGEH"
						minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo>
								<xrd:title>ORGEH</xrd:title>
							</xsd:appinfo>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="8" />
								<xsd:pattern value="\d*" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element
						name="DESCR"
						minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo>
								<xrd:title>DESCR</xrd:title>
							</xsd:appinfo>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="250" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element
						name="PRIOR"
						minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo>
								<xrd:title>PRIOR</xrd:title>
							</xsd:appinfo>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="2" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element
						name="ASEND"
						minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo>
								<xrd:title>ASEND</xrd:title>
							</xsd:appinfo>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="20" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element
						name="KOORMUS"
						minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo>
								<xrd:title>KOORMUS</xrd:title>
							</xsd:appinfo>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:decimal">
								<xsd:totalDigits value="5" />
								<xsd:fractionDigits value="2" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element
						name="AMNIMI"
						minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo>
								<xrd:title>AMNIMI</xrd:title>
							</xsd:appinfo>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="2" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element
						name="AMKOOD"
						minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo>
								<xrd:title>AMKOOD</xrd:title>
							</xsd:appinfo>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="8" />
								<xsd:pattern value="\d*" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element
						name="TEENINDUSKOHT"
						minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo>
								<xrd:title>Teeninduskoht</xrd:title>
							</xsd:appinfo>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="35" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
		</schema>
	</wsdl:types>
			
			
	<!-- WSDL:MESSAGE types -->
	
    <wsdl:message name="xrdHeader">
        <wsdl:part element="xrd:client" name="client"/>
        <wsdl:part element="xrd:service" name="service"/>
        <wsdl:part element="xrd:id" name="id"/>
        <wsdl:part element="xrd:userId" name="userId"/>
        <wsdl:part element="xrd:issue" name="issue"/>
        <wsdl:part element="xrd:protocolVersion" name="protocolVersion"/>
    </wsdl:message>


    <wsdl:message name="Z_EMPLOEES">
        <wsdl:part element="tns:Z_EMPLOEES" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="Z_EMPLOEESResponse">
        <wsdl:part element="tns:Z_EMPLOEESResponse" name="parameters"/>
    </wsdl:message>


	<!-- WSDL operations -->

    <wsdl:portType name="webServiceInterface">
        <wsdl:operation name="Z_EMPLOEES">
            <wsdl:documentation>
                <xrd:title>SAP Z_EMPLOEES päring</xrd:title>
            </wsdl:documentation>
            <wsdl:input message="tns:Z_EMPLOEES"/>
            <wsdl:output message="tns:Z_EMPLOEESResponse"/>
        </wsdl:operation>
	</wsdl:portType>


	<!-- SOAP bindings -->

    <wsdl:binding name="soapBindings" type="tns:webServiceInterface">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Z_EMPLOEES">
            <soap:operation soapAction=""/>
            <xrd:version>v1</xrd:version>
            <wsdl:input>
                <soap:header message="tns:xrdHeader" part="client" use="literal"/>
                <soap:header message="tns:xrdHeader" part="service" use="literal"/>
                <soap:header message="tns:xrdHeader" part="id" use="literal"/>
                <soap:header message="tns:xrdHeader" part="protocolVersion" use="literal"/>
                <soap:header message="tns:xrdHeader" part="userId" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:header message="tns:xrdHeader" part="client" use="literal"/>
                <soap:header message="tns:xrdHeader" part="service" use="literal"/>
                <soap:header message="tns:xrdHeader" part="id" use="literal"/>
                <soap:header message="tns:xrdHeader" part="protocolVersion" use="literal"/>
                <soap:header message="tns:xrdHeader" part="userId" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>    
	</wsdl:binding>

	<wsdl:service name="webService">
        <wsdl:port binding="tns:soapBindings" name="port">
            <soap:address location="http://SERVER_URL"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>	